

/* Light theme data */
.light {
  --border-primary: #E7E8E9;
  --border-secondary: #000000;
  --border-focus: #005685;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #000000;
  --text-colors-secondary: #e5e5e5;
  --text-colors-disabled: #cccccc;

  --static-background-background_0-background: #FFFFFF;
  --static-background-background_0-text: #000000;
  --static-background-background_1-background: #F1F2F2;
  --static-background-background_1-text: #000000;
  --static-background-background_2-background: #E3E5E6;
  --static-background-background_2-text: #000000;
  --static-background-background_3-background: #D5D7D9;
  --static-background-background_3-text: #000000;
  --static-background-background_accent_0-background: #007FBA;
  --static-background-background_accent_0-text: #FFFFFF;
  --static-background-background_accent_1-background: #006594;
  --static-background-background_accent_1-text: #FFFFFF;
  --static-background-background_accent_2-background: #CDE9E3;
  --static-background-background_accent_2-text: #000000;
  --static-background-background_accent_3-background: #0D6569;
  --static-background-background_accent_3-text: #FFFFFF;
  --static-background-background_accent_4-background: #F0E991;
  --static-background-background_accent_4-text: #000000;
  --static-background-background_accent_5-background: #007FBA;
  --static-background-background_accent_5-text: #FFFFFF;
  --static-transport-transport_city-background: #82B962;
  --static-transport-transport_city-text: #000000;
  --static-transport-transport_region-background: #005685;
  --static-transport-transport_region-text: #FFFFFF;
  --static-transport-transport_airport_express-background: #005685;
  --static-transport-transport_airport_express-text: #FFFFFF;
  --static-transport-transport_boat-background: #007FBA;
  --static-transport-transport_boat-text: #FFFFFF;
  --static-transport-transport_train-background: #551125;
  --static-transport-transport_train-text: #FFFFFF;
  --static-transport-transport_airport-background: #F15659;
  --static-transport-transport_airport-text: #FFFFFF;
  --static-transport-transport_plane-background: #F15659;
  --static-transport-transport_plane-text: #FFFFFF;
  --static-transport-transport_flexible-background: #F15659;
  --static-transport-transport_flexible-text: #FFFFFF;
  --static-transport-transport_other-background: #555E65;
  --static-transport-transport_other-text: #FFFFFF;
  --static-status-valid-background: #82B962;
  --static-status-valid-text: #000000;
  --static-status-info-background: #005685;
  --static-status-info-text: #FFFFFF;
  --static-status-warning-background: #FBDC00;
  --static-status-warning-text: #000000;
  --static-status-error-background: #F15629;
  --static-status-error-text: #FFFFFF;
  --static-zone_selection-from-background: #82B962;
  --static-zone_selection-from-text: #000000;
  --static-zone_selection-to-background: #005685;
  --static-zone_selection-to-text: #FFFFFF;

  --interactive-interactive_0-default-background: #007FBA;
  --interactive-interactive_0-default-text: #FFFFFF;
  --interactive-interactive_0-hover-background: #005685;
  --interactive-interactive_0-hover-text: #FFFFFF;
  --interactive-interactive_0-active-background: #CDE9E3;
  --interactive-interactive_0-active-text: #000000;
  --interactive-interactive_0-disabled-background: #C7CACC;
  --interactive-interactive_0-disabled-text: #000000;
  --interactive-interactive_0-outline-background: #0D6569;
  --interactive-interactive_0-outline-text: #FFFFFF;
  --interactive-interactive_0-destructive-background: #A51140;
  --interactive-interactive_0-destructive-text: #FFFFFF;
  --interactive-interactive_1-default-background: 555E65;
  --interactive-interactive_1-default-text: #FFFFFF;
  --interactive-interactive_1-hover-background: 6F777D;
  --interactive-interactive_1-hover-text: #FFFFFF;
  --interactive-interactive_1-active-background: 1A2024;
  --interactive-interactive_1-active-text: #FFFFFF;
  --interactive-interactive_1-disabled-background: #C7CACC;
  --interactive-interactive_1-disabled-text: #000000;
  --interactive-interactive_1-outline-background: #005685;
  --interactive-interactive_1-outline-text: #FFFFFF;
  --interactive-interactive_1-destructive-background: #A51140;
  --interactive-interactive_1-destructive-text: #FFFFFF;
  --interactive-interactive_2-default-background: #FFFFFF;
  --interactive-interactive_2-default-text: #000000;
  --interactive-interactive_2-hover-background: #D4E9EC;
  --interactive-interactive_2-hover-text: #000000;
  --interactive-interactive_2-active-background: #A6D1D9;
  --interactive-interactive_2-active-text: #000000;
  --interactive-interactive_2-disabled-background: #FFFFFF;
  --interactive-interactive_2-disabled-text: #000000;
  --interactive-interactive_2-outline-background: #005685;
  --interactive-interactive_2-outline-text: #FFFFFF;
  --interactive-interactive_2-destructive-background: #A51140;
  --interactive-interactive_2-destructive-text: #FFFFFF;
  --interactive-interactive_3-default-background: #82B962;
  --interactive-interactive_3-default-text: #000000;
  --interactive-interactive_3-hover-background: #B8D4A8;
  --interactive-interactive_3-hover-text: #000000;
  --interactive-interactive_3-active-background: #284320;
  --interactive-interactive_3-active-text: #FFFFFF;
  --interactive-interactive_3-disabled-background: #D8E4D3;
  --interactive-interactive_3-disabled-text: #000000;
  --interactive-interactive_3-outline-background: #005685;
  --interactive-interactive_3-outline-text: #FFFFFF;
  --interactive-interactive_3-destructive-background: #A51140;
  --interactive-interactive_3-destructive-text: #FFFFFF;
  --interactive-interactive_destructive-default-background: #F18176;
  --interactive-interactive_destructive-default-text: #000000;
  --interactive-interactive_destructive-hover-background: #EFB8B2;
  --interactive-interactive_destructive-hover-text: #000000;
  --interactive-interactive_destructive-active-background: #551125;
  --interactive-interactive_destructive-active-text: #FFFFFF;
  --interactive-interactive_destructive-disabled-background: #FFFFFF;
  --interactive-interactive_destructive-disabled-text: #000000;
  --interactive-interactive_destructive-outline-background: #005685;
  --interactive-interactive_destructive-outline-text: #FFFFFF;
  --interactive-interactive_destructive-destructive-background: #A51140;
  --interactive-interactive_destructive-destructive-text: #FFFFFF;
}


/* Dark theme data */
.dark {
  --border-primary: #E7E8E9;
  --border-secondary: #000000;
  --border-focus: #005685;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: #E5E5E5;
  --text-colors-disabled: #CCCCCC;

  --static-background-background_0-background: #000000;
  --static-background-background_0-text: #FFFFFF;
  --static-background-background_1-background: #2B343A;
  --static-background-background_1-text: #FFFFFF;
  --static-background-background_2-background: #37424A;
  --static-background-background_2-text: #FFFFFF;
  --static-background-background_3-background: #555E65;
  --static-background-background_3-text: #FFFFFF;
  --static-background-background_accent_0-background: #007FBA;
  --static-background-background_accent_0-text: #FFFFFF;
  --static-background-background_accent_1-background: #006594;
  --static-background-background_accent_1-text: #FFFFFF;
  --static-background-background_accent_2-background: #CDE9E3;
  --static-background-background_accent_2-text: #000000;
  --static-background-background_accent_3-background: #0D6569;
  --static-background-background_accent_3-text: #FFFFFF;
  --static-background-background_accent_4-background: #F0E991;
  --static-background-background_accent_4-text: #000000;
  --static-background-background_accent_5-background: #007FBA;
  --static-background-background_accent_5-text: #FFFFFF;
  --static-transport-transport_city-background: #82B962;
  --static-transport-transport_city-text: #000000;
  --static-transport-transport_region-background: #005685;
  --static-transport-transport_region-text: #FFFFFF;
  --static-transport-transport_airport_express-background: #005685;
  --static-transport-transport_airport_express-text: #FFFFFF;
  --static-transport-transport_boat-background: #007FBA;
  --static-transport-transport_boat-text: #FFFFFF;
  --static-transport-transport_train-background: #551125;
  --static-transport-transport_train-text: #FFFFFF;
  --static-transport-transport_airport-background: #F15659;
  --static-transport-transport_airport-text: #FFFFFF;
  --static-transport-transport_plane-background: #F15659;
  --static-transport-transport_plane-text: #FFFFFF;
  --static-transport-transport_flexible-background: #F15659;
  --static-transport-transport_flexible-text: #FFFFFF;
  --static-transport-transport_other-background: #555E65;
  --static-transport-transport_other-text: #FFFFFF;
  --static-status-valid-background: #82B962;
  --static-status-valid-text: #000000;
  --static-status-info-background: #005685;
  --static-status-info-text: #FFFFFF;
  --static-status-warning-background: #FBDC00;
  --static-status-warning-text: #000000;
  --static-status-error-background: #F15629;
  --static-status-error-text: #FFFFFF;
  --static-zone_selection-from-background: #82B962;
  --static-zone_selection-from-text: #000000;
  --static-zone_selection-to-background: #005685;
  --static-zone_selection-to-text: #FFFFFF;

  --interactive-interactive_0-default-background: #007FBA;
  --interactive-interactive_0-default-text: #FFFFFF;
  --interactive-interactive_0-hover-background: #005685;
  --interactive-interactive_0-hover-text: #FFFFFF;
  --interactive-interactive_0-active-background: #CDE9E3;
  --interactive-interactive_0-active-text: #000000;
  --interactive-interactive_0-disabled-background: #C7CACC;
  --interactive-interactive_0-disabled-text: #000000;
  --interactive-interactive_0-outline-background: #0D6569;
  --interactive-interactive_0-outline-text: #FFFFFF;
  --interactive-interactive_0-destructive-background: #D692A7;
  --interactive-interactive_0-destructive-text: #000000;
  --interactive-interactive_1-default-background: 555E65;
  --interactive-interactive_1-default-text: #FFFFFF;
  --interactive-interactive_1-hover-background: 6F777D;
  --interactive-interactive_1-hover-text: #FFFFFF;
  --interactive-interactive_1-active-background: 1A2024;
  --interactive-interactive_1-active-text: #FFFFFF;
  --interactive-interactive_1-disabled-background: #C7CACC;
  --interactive-interactive_1-disabled-text: #000000;
  --interactive-interactive_1-outline-background: #005685;
  --interactive-interactive_1-outline-text: #FFFFFF;
  --interactive-interactive_1-destructive-background: #D692A7;
  --interactive-interactive_1-destructive-text: #000000;
  --interactive-interactive_2-default-background: #000000;
  --interactive-interactive_2-default-text: #FFFFFF;
  --interactive-interactive_2-hover-background: #0D6569;
  --interactive-interactive_2-hover-text: #FFFFFF;
  --interactive-interactive_2-active-background: #679C9F;
  --interactive-interactive_2-active-text: #FFFFFF;
  --interactive-interactive_2-disabled-background: #C7CACC;
  --interactive-interactive_2-disabled-text: #000000;
  --interactive-interactive_2-outline-background: #005685;
  --interactive-interactive_2-outline-text: #FFFFFF;
  --interactive-interactive_2-destructive-background: #D692A7;
  --interactive-interactive_2-destructive-text: #000000;
  --interactive-interactive_3-default-background: #82B962;
  --interactive-interactive_3-default-text: #000000;
  --interactive-interactive_3-hover-background: #B8D4A8;
  --interactive-interactive_3-hover-text: #000000;
  --interactive-interactive_3-active-background: #284320;
  --interactive-interactive_3-active-text: #FFFFFF;
  --interactive-interactive_3-disabled-background: #D8E4D3;
  --interactive-interactive_3-disabled-text: #000000;
  --interactive-interactive_3-outline-background: #005685;
  --interactive-interactive_3-outline-text: #FFFFFF;
  --interactive-interactive_3-destructive-background: #D692A7;
  --interactive-interactive_3-destructive-text: #000000;
  --interactive-interactive_destructive-default-background: #F18176;
  --interactive-interactive_destructive-default-text: #000000;
  --interactive-interactive_destructive-hover-background: #EFB8B2;
  --interactive-interactive_destructive-hover-text: #000000;
  --interactive-interactive_destructive-active-background: #551125;
  --interactive-interactive_destructive-active-text: #FFFFFF;
  --interactive-interactive_destructive-disabled-background: #FFFFFF;
  --interactive-interactive_destructive-disabled-text: #000000;
  --interactive-interactive_destructive-outline-background: #005685;
  --interactive-interactive_destructive-outline-text: #FFFFFF;
  --interactive-interactive_destructive-destructive-background: #D692A7;
  --interactive-interactive_destructive-destructive-text: #000000;
}


@media (prefers-color-scheme: dark) {
  .light:not(.override-light) {
  --border-primary: #E7E8E9;
  --border-secondary: #000000;
  --border-focus: #005685;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: #E5E5E5;
  --text-colors-disabled: #CCCCCC;

  --static-background-background_0-background: #000000;
  --static-background-background_0-text: #FFFFFF;
  --static-background-background_1-background: #2B343A;
  --static-background-background_1-text: #FFFFFF;
  --static-background-background_2-background: #37424A;
  --static-background-background_2-text: #FFFFFF;
  --static-background-background_3-background: #555E65;
  --static-background-background_3-text: #FFFFFF;
  --static-background-background_accent_0-background: #007FBA;
  --static-background-background_accent_0-text: #FFFFFF;
  --static-background-background_accent_1-background: #006594;
  --static-background-background_accent_1-text: #FFFFFF;
  --static-background-background_accent_2-background: #CDE9E3;
  --static-background-background_accent_2-text: #000000;
  --static-background-background_accent_3-background: #0D6569;
  --static-background-background_accent_3-text: #FFFFFF;
  --static-background-background_accent_4-background: #F0E991;
  --static-background-background_accent_4-text: #000000;
  --static-background-background_accent_5-background: #007FBA;
  --static-background-background_accent_5-text: #FFFFFF;
  --static-transport-transport_city-background: #82B962;
  --static-transport-transport_city-text: #000000;
  --static-transport-transport_region-background: #005685;
  --static-transport-transport_region-text: #FFFFFF;
  --static-transport-transport_airport_express-background: #005685;
  --static-transport-transport_airport_express-text: #FFFFFF;
  --static-transport-transport_boat-background: #007FBA;
  --static-transport-transport_boat-text: #FFFFFF;
  --static-transport-transport_train-background: #551125;
  --static-transport-transport_train-text: #FFFFFF;
  --static-transport-transport_airport-background: #F15659;
  --static-transport-transport_airport-text: #FFFFFF;
  --static-transport-transport_plane-background: #F15659;
  --static-transport-transport_plane-text: #FFFFFF;
  --static-transport-transport_flexible-background: #F15659;
  --static-transport-transport_flexible-text: #FFFFFF;
  --static-transport-transport_other-background: #555E65;
  --static-transport-transport_other-text: #FFFFFF;
  --static-status-valid-background: #82B962;
  --static-status-valid-text: #000000;
  --static-status-info-background: #005685;
  --static-status-info-text: #FFFFFF;
  --static-status-warning-background: #FBDC00;
  --static-status-warning-text: #000000;
  --static-status-error-background: #F15629;
  --static-status-error-text: #FFFFFF;
  --static-zone_selection-from-background: #82B962;
  --static-zone_selection-from-text: #000000;
  --static-zone_selection-to-background: #005685;
  --static-zone_selection-to-text: #FFFFFF;

  --interactive-interactive_0-default-background: #007FBA;
  --interactive-interactive_0-default-text: #FFFFFF;
  --interactive-interactive_0-hover-background: #005685;
  --interactive-interactive_0-hover-text: #FFFFFF;
  --interactive-interactive_0-active-background: #CDE9E3;
  --interactive-interactive_0-active-text: #000000;
  --interactive-interactive_0-disabled-background: #C7CACC;
  --interactive-interactive_0-disabled-text: #000000;
  --interactive-interactive_0-outline-background: #0D6569;
  --interactive-interactive_0-outline-text: #FFFFFF;
  --interactive-interactive_0-destructive-background: #D692A7;
  --interactive-interactive_0-destructive-text: #000000;
  --interactive-interactive_1-default-background: 555E65;
  --interactive-interactive_1-default-text: #FFFFFF;
  --interactive-interactive_1-hover-background: 6F777D;
  --interactive-interactive_1-hover-text: #FFFFFF;
  --interactive-interactive_1-active-background: 1A2024;
  --interactive-interactive_1-active-text: #FFFFFF;
  --interactive-interactive_1-disabled-background: #C7CACC;
  --interactive-interactive_1-disabled-text: #000000;
  --interactive-interactive_1-outline-background: #005685;
  --interactive-interactive_1-outline-text: #FFFFFF;
  --interactive-interactive_1-destructive-background: #D692A7;
  --interactive-interactive_1-destructive-text: #000000;
  --interactive-interactive_2-default-background: #000000;
  --interactive-interactive_2-default-text: #FFFFFF;
  --interactive-interactive_2-hover-background: #0D6569;
  --interactive-interactive_2-hover-text: #FFFFFF;
  --interactive-interactive_2-active-background: #679C9F;
  --interactive-interactive_2-active-text: #FFFFFF;
  --interactive-interactive_2-disabled-background: #C7CACC;
  --interactive-interactive_2-disabled-text: #000000;
  --interactive-interactive_2-outline-background: #005685;
  --interactive-interactive_2-outline-text: #FFFFFF;
  --interactive-interactive_2-destructive-background: #D692A7;
  --interactive-interactive_2-destructive-text: #000000;
  --interactive-interactive_3-default-background: #82B962;
  --interactive-interactive_3-default-text: #000000;
  --interactive-interactive_3-hover-background: #B8D4A8;
  --interactive-interactive_3-hover-text: #000000;
  --interactive-interactive_3-active-background: #284320;
  --interactive-interactive_3-active-text: #FFFFFF;
  --interactive-interactive_3-disabled-background: #D8E4D3;
  --interactive-interactive_3-disabled-text: #000000;
  --interactive-interactive_3-outline-background: #005685;
  --interactive-interactive_3-outline-text: #FFFFFF;
  --interactive-interactive_3-destructive-background: #D692A7;
  --interactive-interactive_3-destructive-text: #000000;
  --interactive-interactive_destructive-default-background: #F18176;
  --interactive-interactive_destructive-default-text: #000000;
  --interactive-interactive_destructive-hover-background: #EFB8B2;
  --interactive-interactive_destructive-hover-text: #000000;
  --interactive-interactive_destructive-active-background: #551125;
  --interactive-interactive_destructive-active-text: #FFFFFF;
  --interactive-interactive_destructive-disabled-background: #FFFFFF;
  --interactive-interactive_destructive-disabled-text: #000000;
  --interactive-interactive_destructive-outline-background: #005685;
  --interactive-interactive_destructive-outline-text: #FFFFFF;
  --interactive-interactive_destructive-destructive-background: #D692A7;
  --interactive-interactive_destructive-destructive-text: #000000;
}
}


/* Theme color pairs */
.static-background-background_0 {
  background-color: var(--static-background-background_0-background);
  color: var(--static-background-background_0-text);
}
.static-background-background_1 {
  background-color: var(--static-background-background_1-background);
  color: var(--static-background-background_1-text);
}
.static-background-background_2 {
  background-color: var(--static-background-background_2-background);
  color: var(--static-background-background_2-text);
}
.static-background-background_3 {
  background-color: var(--static-background-background_3-background);
  color: var(--static-background-background_3-text);
}
.static-background-background_accent_0 {
  background-color: var(--static-background-background_accent_0-background);
  color: var(--static-background-background_accent_0-text);
}
.static-background-background_accent_1 {
  background-color: var(--static-background-background_accent_1-background);
  color: var(--static-background-background_accent_1-text);
}
.static-background-background_accent_2 {
  background-color: var(--static-background-background_accent_2-background);
  color: var(--static-background-background_accent_2-text);
}
.static-background-background_accent_3 {
  background-color: var(--static-background-background_accent_3-background);
  color: var(--static-background-background_accent_3-text);
}
.static-background-background_accent_4 {
  background-color: var(--static-background-background_accent_4-background);
  color: var(--static-background-background_accent_4-text);
}
.static-background-background_accent_5 {
  background-color: var(--static-background-background_accent_5-background);
  color: var(--static-background-background_accent_5-text);
}
.static-transport-transport_city {
  background-color: var(--static-transport-transport_city-background);
  color: var(--static-transport-transport_city-text);
}
.static-transport-transport_region {
  background-color: var(--static-transport-transport_region-background);
  color: var(--static-transport-transport_region-text);
}
.static-transport-transport_airport_express {
  background-color: var(--static-transport-transport_airport_express-background);
  color: var(--static-transport-transport_airport_express-text);
}
.static-transport-transport_boat {
  background-color: var(--static-transport-transport_boat-background);
  color: var(--static-transport-transport_boat-text);
}
.static-transport-transport_train {
  background-color: var(--static-transport-transport_train-background);
  color: var(--static-transport-transport_train-text);
}
.static-transport-transport_airport {
  background-color: var(--static-transport-transport_airport-background);
  color: var(--static-transport-transport_airport-text);
}
.static-transport-transport_plane {
  background-color: var(--static-transport-transport_plane-background);
  color: var(--static-transport-transport_plane-text);
}
.static-transport-transport_flexible {
  background-color: var(--static-transport-transport_flexible-background);
  color: var(--static-transport-transport_flexible-text);
}
.static-transport-transport_other {
  background-color: var(--static-transport-transport_other-background);
  color: var(--static-transport-transport_other-text);
}
.static-status-valid {
  background-color: var(--static-status-valid-background);
  color: var(--static-status-valid-text);
}
.static-status-info {
  background-color: var(--static-status-info-background);
  color: var(--static-status-info-text);
}
.static-status-warning {
  background-color: var(--static-status-warning-background);
  color: var(--static-status-warning-text);
}
.static-status-error {
  background-color: var(--static-status-error-background);
  color: var(--static-status-error-text);
}
.static-zone_selection-from {
  background-color: var(--static-zone_selection-from-background);
  color: var(--static-zone_selection-from-text);
}
.static-zone_selection-to {
  background-color: var(--static-zone_selection-to-background);
  color: var(--static-zone_selection-to-text);
}

.interactive-interactive_0 {
  background-color: var(--interactive-interactive_0-default-background);
  color: var(--interactive-interactive_0-default-text);
}
.interactive-interactive_0:hover {
  background-color: var(--interactive-interactive_0-hover-background);
  color: var(--interactive-interactive_0-hover-text);
}
.interactive-interactive_0:active {
  background-color: var(--interactive-interactive_0-active-background);
  color: var(--interactive-interactive_0-active-text);
}
.interactive-interactive_0:disabled {
  background-color: var(--interactive-interactive_0-disabled-background);
  color: var(--interactive-interactive_0-disabled-text);
}
.interactive-interactive_1 {
  background-color: var(--interactive-interactive_1-default-background);
  color: var(--interactive-interactive_1-default-text);
}
.interactive-interactive_1:hover {
  background-color: var(--interactive-interactive_1-hover-background);
  color: var(--interactive-interactive_1-hover-text);
}
.interactive-interactive_1:active {
  background-color: var(--interactive-interactive_1-active-background);
  color: var(--interactive-interactive_1-active-text);
}
.interactive-interactive_1:disabled {
  background-color: var(--interactive-interactive_1-disabled-background);
  color: var(--interactive-interactive_1-disabled-text);
}
.interactive-interactive_2 {
  background-color: var(--interactive-interactive_2-default-background);
  color: var(--interactive-interactive_2-default-text);
}
.interactive-interactive_2:hover {
  background-color: var(--interactive-interactive_2-hover-background);
  color: var(--interactive-interactive_2-hover-text);
}
.interactive-interactive_2:active {
  background-color: var(--interactive-interactive_2-active-background);
  color: var(--interactive-interactive_2-active-text);
}
.interactive-interactive_2:disabled {
  background-color: var(--interactive-interactive_2-disabled-background);
  color: var(--interactive-interactive_2-disabled-text);
}
.interactive-interactive_3 {
  background-color: var(--interactive-interactive_3-default-background);
  color: var(--interactive-interactive_3-default-text);
}
.interactive-interactive_3:hover {
  background-color: var(--interactive-interactive_3-hover-background);
  color: var(--interactive-interactive_3-hover-text);
}
.interactive-interactive_3:active {
  background-color: var(--interactive-interactive_3-active-background);
  color: var(--interactive-interactive_3-active-text);
}
.interactive-interactive_3:disabled {
  background-color: var(--interactive-interactive_3-disabled-background);
  color: var(--interactive-interactive_3-disabled-text);
}
.interactive-interactive_destructive {
  background-color: var(--interactive-interactive_destructive-default-background);
  color: var(--interactive-interactive_destructive-default-text);
}
.interactive-interactive_destructive:hover {
  background-color: var(--interactive-interactive_destructive-hover-background);
  color: var(--interactive-interactive_destructive-hover-text);
}
.interactive-interactive_destructive:active {
  background-color: var(--interactive-interactive_destructive-active-background);
  color: var(--interactive-interactive_destructive-active-text);
}
.interactive-interactive_destructive:disabled {
  background-color: var(--interactive-interactive_destructive-disabled-background);
  color: var(--interactive-interactive_destructive-disabled-text);
}
