@import '@atb-as/theme/lib/typography.css';

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--static-background-background_0-background);
  color: var(--text-colors-primary);

  font-size: var(--baseTypo-body__primary-fontSize);
  line-height: var(--baseTypo-body__primary-lineHeight);
  letter-spacing: var(--baseTypo-body__primary-letterSpacing);
}

h1 {
  font-size: 2rem;
  margin: calc(2 * var(--spacings-xLarge)) 0 var(--spacings-xLarge);
}

h2 {
  margin: calc(2 * var(--spacings-large)) 0 var(--spacings-large);
}
