

/* Light theme data */
.light {
  --border-primary: #F1F2F2;
  --border-secondary: #000000;
  --border-focus: #007C92;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #000000;
  --text-colors-secondary: rgba(0, 0, 0, 0.6);
  --text-colors-disabled: rgba(0, 0, 0, 0.2);

  --colors-background_0-background: #FFFFFF;
  --colors-background_0-text: #000000;
  --colors-background_0-opacity: 1;
  --colors-background_1-background: #F1F2F2;
  --colors-background_1-text: #000000;
  --colors-background_1-opacity: 1;
  --colors-background_2-background: #E3E5E6;
  --colors-background_2-text: #000000;
  --colors-background_2-opacity: 1;
  --colors-background_3-background: #D5D7D9;
  --colors-background_3-text: #000000;
  --colors-background_3-opacity: 1;
  --colors-background_accent-background: #37424A;
  --colors-background_accent-text: #FFFFFF;
  --colors-background_accent-opacity: 1;
  --colors-primary_1-background: #A2AD00;
  --colors-primary_1-text: #000000;
  --colors-primary_1-opacity: 1;
  --colors-primary_2-background: #007C92;
  --colors-primary_2-text: #FFFFFF;
  --colors-primary_2-opacity: 1;
  --colors-primary_3-background: #D4E9EC;
  --colors-primary_3-text: #000000;
  --colors-primary_3-opacity: 1;
  --colors-primary_destructive-background: #A51140;
  --colors-primary_destructive-text: #FFFFFF;
  --colors-primary_destructive-opacity: 1;
  --colors-secondary_1-background: #37424A;
  --colors-secondary_1-text: #FFFFFF;
  --colors-secondary_1-opacity: 1;
  --colors-secondary_2-background: #FFFFFF;
  --colors-secondary_2-text: #000000;
  --colors-secondary_2-opacity: 1;
  --colors-secondary_3-background: #555E65;
  --colors-secondary_3-text: #FFFFFF;
  --colors-secondary_3-opacity: 1;
  --colors-secondary_4-background: #F1F2F2;
  --colors-secondary_4-text: #000000;
  --colors-secondary_4-opacity: 1;
  --colors-transport_city-background: #A2AD00;
  --colors-transport_city-text: #000000;
  --colors-transport_city-opacity: 1;
  --colors-transport_region-background: #007C92;
  --colors-transport_region-text: #FFFFFF;
  --colors-transport_region-opacity: 1;
  --colors-transport_boat-background: #71D6E0;
  --colors-transport_boat-text: #000000;
  --colors-transport_boat-opacity: 1;
  --colors-transport_train-background: #4B2942;
  --colors-transport_train-text: #FFFFFF;
  --colors-transport_train-opacity: 1;
  --colors-transport_airport-background: #C75B12;
  --colors-transport_airport-text: #000000;
  --colors-transport_airport-opacity: 1;
  --colors-transport_plane-background: #C75B12;
  --colors-transport_plane-text: #000000;
  --colors-transport_plane-opacity: 1;
  --colors-transport_other-background: #555E65;
  --colors-transport_other-text: #FFFFFF;
  --colors-transport_other-opacity: 1;

  --status-valid-main-background: #A2AD00;
  --status-valid-main-text: #000000;
  --status-valid-main-opacity: 1;
  --status-info-main-background: #71D6E0;
  --status-info-main-text: #000000;
  --status-info-main-opacity: 1;
  --status-warning-main-background: #E4D700;
  --status-warning-main-text: #000000;
  --status-warning-main-opacity: 1;
  --status-error-main-background: #A51140;
  --status-error-main-text: #FFFFFF;
  --status-error-main-opacity: 1;

  --interactive-primary_accent-default-background: #007C92;
  --interactive-primary_accent-default-text: #FFFFFF;
  --interactive-primary_accent-default-opacity: 1;
  --interactive-primary_accent-hover-background: #007C92;
  --interactive-primary_accent-hover-text: #FFFFFF;
  --interactive-primary_accent-hover-opacity: 1;
  --interactive-primary_accent-active-background: #007C92;
  --interactive-primary_accent-active-text: #FFFFFF;
  --interactive-primary_accent-active-opacity: 1;
  --interactive-primary_accent-disabled-background: #007C92;
  --interactive-primary_accent-disabled-text: #FFFFFF;
  --interactive-primary_accent-disabled-opacity: 1;
  --interactive-primary_accent-outline-background: #71D6E0;
  --interactive-primary_accent-outline-text: #000000;
  --interactive-primary_accent-outline-opacity: 1;
  --interactive-primary_neutral-default-background: #FFFFFF;
  --interactive-primary_neutral-default-text: #000000;
  --interactive-primary_neutral-default-opacity: 1;
  --interactive-primary_neutral-hover-background: #FFFFFF;
  --interactive-primary_neutral-hover-text: #000000;
  --interactive-primary_neutral-hover-opacity: 1;
  --interactive-primary_neutral-active-background: #FFFFFF;
  --interactive-primary_neutral-active-text: #000000;
  --interactive-primary_neutral-active-opacity: 1;
  --interactive-primary_neutral-disabled-background: #FFFFFF;
  --interactive-primary_neutral-disabled-text: #000000;
  --interactive-primary_neutral-disabled-opacity: 1;
  --interactive-primary_neutral-outline-background: #007C92;
  --interactive-primary_neutral-outline-text: #FFFFFF;
  --interactive-primary_neutral-outline-opacity: 1;
}


/* Dark theme data */
.dark {
  --border-primary: #242B30;
  --border-secondary: #FFFFFF;
  --border-focus: #448086;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: rgba(255, 255, 255, 0.6);
  --text-colors-disabled: rgba(255, 255, 255, 0.2);

  --colors-background_0-background: #000000;
  --colors-background_0-text: #FFFFFF;
  --colors-background_0-opacity: 1;
  --colors-background_1-background: #242B30;
  --colors-background_1-text: #FFFFFF;
  --colors-background_1-opacity: 1;
  --colors-background_2-background: #37424A;
  --colors-background_2-text: #FFFFFF;
  --colors-background_2-opacity: 1;
  --colors-background_3-background: #555E65;
  --colors-background_3-text: #FFFFFF;
  --colors-background_3-opacity: 1;
  --colors-background_accent-background: #37424A;
  --colors-background_accent-text: #FFFFFF;
  --colors-background_accent-opacity: 1;
  --colors-primary_1-background: #A2AD00;
  --colors-primary_1-text: #000000;
  --colors-primary_1-opacity: 1;
  --colors-primary_2-background: #007C92;
  --colors-primary_2-text: #FFFFFF;
  --colors-primary_2-opacity: 1;
  --colors-primary_3-background: #D4E9EC;
  --colors-primary_3-text: #000000;
  --colors-primary_3-opacity: 1;
  --colors-primary_destructive-background: #A51140;
  --colors-primary_destructive-text: #FFFFFF;
  --colors-primary_destructive-opacity: 1;
  --colors-secondary_1-background: #A9AEB1;
  --colors-secondary_1-text: #000000;
  --colors-secondary_1-opacity: 1;
  --colors-secondary_2-background: #000000;
  --colors-secondary_2-text: #FFFFFF;
  --colors-secondary_2-opacity: 1;
  --colors-secondary_3-background: #555E65;
  --colors-secondary_3-text: #FFFFFF;
  --colors-secondary_3-opacity: 1;
  --colors-secondary_4-background: #555E65;
  --colors-secondary_4-text: #FFFFFF;
  --colors-secondary_4-opacity: 1;
  --colors-transport_city-background: #A2AD00;
  --colors-transport_city-text: #000000;
  --colors-transport_city-opacity: 1;
  --colors-transport_region-background: #007C92;
  --colors-transport_region-text: #FFFFFF;
  --colors-transport_region-opacity: 1;
  --colors-transport_boat-background: #71D6E0;
  --colors-transport_boat-text: #000000;
  --colors-transport_boat-opacity: 1;
  --colors-transport_train-background: #4B2942;
  --colors-transport_train-text: #FFFFFF;
  --colors-transport_train-opacity: 1;
  --colors-transport_airport-background: #C75B12;
  --colors-transport_airport-text: #000000;
  --colors-transport_airport-opacity: 1;
  --colors-transport_plane-background: #C75B12;
  --colors-transport_plane-text: #000000;
  --colors-transport_plane-opacity: 1;
  --colors-transport_other-background: #555E65;
  --colors-transport_other-text: #FFFFFF;
  --colors-transport_other-opacity: 1;

  --status-valid-main-background: #A2AD00;
  --status-valid-main-text: #000000;
  --status-valid-main-opacity: 1;
  --status-info-main-background: #71D6E0;
  --status-info-main-text: #000000;
  --status-info-main-opacity: 1;
  --status-warning-main-background: #E4D700;
  --status-warning-main-text: #000000;
  --status-warning-main-opacity: 1;
  --status-error-main-background: #A51140;
  --status-error-main-text: #FFFFFF;
  --status-error-main-opacity: 1;

  --interactive-primary_accent-default-background: #007C92;
  --interactive-primary_accent-default-text: #FFFFFF;
  --interactive-primary_accent-default-opacity: 1;
  --interactive-primary_accent-hover-background: #007C92;
  --interactive-primary_accent-hover-text: #FFFFFF;
  --interactive-primary_accent-hover-opacity: 1;
  --interactive-primary_accent-active-background: #007C92;
  --interactive-primary_accent-active-text: #FFFFFF;
  --interactive-primary_accent-active-opacity: 1;
  --interactive-primary_accent-disabled-background: #007C92;
  --interactive-primary_accent-disabled-text: #FFFFFF;
  --interactive-primary_accent-disabled-opacity: 1;
  --interactive-primary_accent-outline-background: #71D6E0;
  --interactive-primary_accent-outline-text: #000000;
  --interactive-primary_accent-outline-opacity: 1;
  --interactive-primary_neutral-default-background: #FFFFFF;
  --interactive-primary_neutral-default-text: #000000;
  --interactive-primary_neutral-default-opacity: 1;
  --interactive-primary_neutral-hover-background: #FFFFFF;
  --interactive-primary_neutral-hover-text: #000000;
  --interactive-primary_neutral-hover-opacity: 1;
  --interactive-primary_neutral-active-background: #FFFFFF;
  --interactive-primary_neutral-active-text: #000000;
  --interactive-primary_neutral-active-opacity: 1;
  --interactive-primary_neutral-disabled-background: #FFFFFF;
  --interactive-primary_neutral-disabled-text: #000000;
  --interactive-primary_neutral-disabled-opacity: 1;
  --interactive-primary_neutral-outline-background: #FFFFFF;
  --interactive-primary_neutral-outline-text: #000000;
  --interactive-primary_neutral-outline-opacity: 1;
}


@media (prefers-color-scheme: dark) {
  .light:not(.override-light) {
  --border-primary: #242B30;
  --border-secondary: #FFFFFF;
  --border-focus: #448086;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: rgba(255, 255, 255, 0.6);
  --text-colors-disabled: rgba(255, 255, 255, 0.2);

  --colors-background_0-background: #000000;
  --colors-background_0-text: #FFFFFF;
  --colors-background_0-opacity: 1;
  --colors-background_1-background: #242B30;
  --colors-background_1-text: #FFFFFF;
  --colors-background_1-opacity: 1;
  --colors-background_2-background: #37424A;
  --colors-background_2-text: #FFFFFF;
  --colors-background_2-opacity: 1;
  --colors-background_3-background: #555E65;
  --colors-background_3-text: #FFFFFF;
  --colors-background_3-opacity: 1;
  --colors-background_accent-background: #37424A;
  --colors-background_accent-text: #FFFFFF;
  --colors-background_accent-opacity: 1;
  --colors-primary_1-background: #A2AD00;
  --colors-primary_1-text: #000000;
  --colors-primary_1-opacity: 1;
  --colors-primary_2-background: #007C92;
  --colors-primary_2-text: #FFFFFF;
  --colors-primary_2-opacity: 1;
  --colors-primary_3-background: #D4E9EC;
  --colors-primary_3-text: #000000;
  --colors-primary_3-opacity: 1;
  --colors-primary_destructive-background: #A51140;
  --colors-primary_destructive-text: #FFFFFF;
  --colors-primary_destructive-opacity: 1;
  --colors-secondary_1-background: #A9AEB1;
  --colors-secondary_1-text: #000000;
  --colors-secondary_1-opacity: 1;
  --colors-secondary_2-background: #000000;
  --colors-secondary_2-text: #FFFFFF;
  --colors-secondary_2-opacity: 1;
  --colors-secondary_3-background: #555E65;
  --colors-secondary_3-text: #FFFFFF;
  --colors-secondary_3-opacity: 1;
  --colors-secondary_4-background: #555E65;
  --colors-secondary_4-text: #FFFFFF;
  --colors-secondary_4-opacity: 1;
  --colors-transport_city-background: #A2AD00;
  --colors-transport_city-text: #000000;
  --colors-transport_city-opacity: 1;
  --colors-transport_region-background: #007C92;
  --colors-transport_region-text: #FFFFFF;
  --colors-transport_region-opacity: 1;
  --colors-transport_boat-background: #71D6E0;
  --colors-transport_boat-text: #000000;
  --colors-transport_boat-opacity: 1;
  --colors-transport_train-background: #4B2942;
  --colors-transport_train-text: #FFFFFF;
  --colors-transport_train-opacity: 1;
  --colors-transport_airport-background: #C75B12;
  --colors-transport_airport-text: #000000;
  --colors-transport_airport-opacity: 1;
  --colors-transport_plane-background: #C75B12;
  --colors-transport_plane-text: #000000;
  --colors-transport_plane-opacity: 1;
  --colors-transport_other-background: #555E65;
  --colors-transport_other-text: #FFFFFF;
  --colors-transport_other-opacity: 1;

  --status-valid-main-background: #A2AD00;
  --status-valid-main-text: #000000;
  --status-valid-main-opacity: 1;
  --status-info-main-background: #71D6E0;
  --status-info-main-text: #000000;
  --status-info-main-opacity: 1;
  --status-warning-main-background: #E4D700;
  --status-warning-main-text: #000000;
  --status-warning-main-opacity: 1;
  --status-error-main-background: #A51140;
  --status-error-main-text: #FFFFFF;
  --status-error-main-opacity: 1;
  }
}


/* Theme color pairs */
.colors-background_0 {
  background-color: var(--colors-background_0-background);
  color: var(--colors-background_0-text);
  opacity: var(--colors-background_0-opacity);
}
.colors-background_1 {
  background-color: var(--colors-background_1-background);
  color: var(--colors-background_1-text);
  opacity: var(--colors-background_1-opacity);
}
.colors-background_2 {
  background-color: var(--colors-background_2-background);
  color: var(--colors-background_2-text);
  opacity: var(--colors-background_2-opacity);
}
.colors-background_3 {
  background-color: var(--colors-background_3-background);
  color: var(--colors-background_3-text);
  opacity: var(--colors-background_3-opacity);
}
.colors-background_accent {
  background-color: var(--colors-background_accent-background);
  color: var(--colors-background_accent-text);
  opacity: var(--colors-background_accent-opacity);
}
.colors-primary_1 {
  background-color: var(--colors-primary_1-background);
  color: var(--colors-primary_1-text);
  opacity: var(--colors-primary_1-opacity);
}
.colors-primary_2 {
  background-color: var(--colors-primary_2-background);
  color: var(--colors-primary_2-text);
  opacity: var(--colors-primary_2-opacity);
}
.colors-primary_3 {
  background-color: var(--colors-primary_3-background);
  color: var(--colors-primary_3-text);
  opacity: var(--colors-primary_3-opacity);
}
.colors-primary_destructive {
  background-color: var(--colors-primary_destructive-background);
  color: var(--colors-primary_destructive-text);
  opacity: var(--colors-primary_destructive-opacity);
}
.colors-secondary_1 {
  background-color: var(--colors-secondary_1-background);
  color: var(--colors-secondary_1-text);
  opacity: var(--colors-secondary_1-opacity);
}
.colors-secondary_2 {
  background-color: var(--colors-secondary_2-background);
  color: var(--colors-secondary_2-text);
  opacity: var(--colors-secondary_2-opacity);
}
.colors-secondary_3 {
  background-color: var(--colors-secondary_3-background);
  color: var(--colors-secondary_3-text);
  opacity: var(--colors-secondary_3-opacity);
}
.colors-secondary_4 {
  background-color: var(--colors-secondary_4-background);
  color: var(--colors-secondary_4-text);
  opacity: var(--colors-secondary_4-opacity);
}
.colors-transport_city {
  background-color: var(--colors-transport_city-background);
  color: var(--colors-transport_city-text);
  opacity: var(--colors-transport_city-opacity);
}
.colors-transport_region {
  background-color: var(--colors-transport_region-background);
  color: var(--colors-transport_region-text);
  opacity: var(--colors-transport_region-opacity);
}
.colors-transport_boat {
  background-color: var(--colors-transport_boat-background);
  color: var(--colors-transport_boat-text);
  opacity: var(--colors-transport_boat-opacity);
}
.colors-transport_train {
  background-color: var(--colors-transport_train-background);
  color: var(--colors-transport_train-text);
  opacity: var(--colors-transport_train-opacity);
}
.colors-transport_airport {
  background-color: var(--colors-transport_airport-background);
  color: var(--colors-transport_airport-text);
  opacity: var(--colors-transport_airport-opacity);
}
.colors-transport_plane {
  background-color: var(--colors-transport_plane-background);
  color: var(--colors-transport_plane-text);
  opacity: var(--colors-transport_plane-opacity);
}
.colors-transport_other {
  background-color: var(--colors-transport_other-background);
  color: var(--colors-transport_other-text);
  opacity: var(--colors-transport_other-opacity);
}

.status-valid-main {
  background-color: var(--status-valid-main-background);
  color: var(--status-valid-main-text);
  opacity: var(--status-valid-main-opacity);
}
.status-info-main {
  background-color: var(--status-info-main-background);
  color: var(--status-info-main-text);
  opacity: var(--status-info-main-opacity);
}
.status-warning-main {
  background-color: var(--status-warning-main-background);
  color: var(--status-warning-main-text);
  opacity: var(--status-warning-main-opacity);
}
.status-error-main {
  background-color: var(--status-error-main-background);
  color: var(--status-error-main-text);
  opacity: var(--status-error-main-opacity);
}

.interactive-primary_accent {
  background-color: var(--interactive-primary_accent-default-background);
  color: var(--interactive-primary_accent-default-text);
  opacity: var(--interactive-primary_accent-default-opacity);
}
.interactive-primary_accent:hover {
  background-color: var(--interactive-primary_accent-hover-background);
  color: var(--interactive-primary_accent-hover-text);
  opacity: var(--interactive-primary_accent-hover-opacity);
}
.interactive-primary_accent:active {
  background-color: var(--interactive-primary_accent-active-background);
  color: var(--interactive-primary_accent-active-text);
  opacity: var(--interactive-primary_accent-active-opacity);
}
.interactive-primary_accent:disabled {
  background-color: var(--interactive-primary_accent-disabled-background);
  color: var(--interactive-primary_accent-disabled-text);
  opacity: var(--interactive-primary_accent-disabled-opacity);
}
.interactive-primary_neutral {
  background-color: var(--interactive-primary_neutral-default-background);
  color: var(--interactive-primary_neutral-default-text);
  opacity: var(--interactive-primary_neutral-default-opacity);
}
.interactive-primary_neutral:hover {
  background-color: var(--interactive-primary_neutral-hover-background);
  color: var(--interactive-primary_neutral-hover-text);
  opacity: var(--interactive-primary_neutral-hover-opacity);
}
.interactive-primary_neutral:active {
  background-color: var(--interactive-primary_neutral-active-background);
  color: var(--interactive-primary_neutral-active-text);
  opacity: var(--interactive-primary_neutral-active-opacity);
}
.interactive-primary_neutral:disabled {
  background-color: var(--interactive-primary_neutral-disabled-background);
  color: var(--interactive-primary_neutral-disabled-text);
  opacity: var(--interactive-primary_neutral-disabled-opacity);
}
