

/* Light theme data */
.light {
  --border-primary: #E7E8E9;
  --border-secondary: #003441;
  --border-focus: #007C92;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #003441;
  --text-colors-secondary: rgba(0, 52, 65, 0.7);
  --text-colors-disabled: rgba(0, 52, 65, 0.52);

  --static-background-background_0-background: #FFFFFF;
  --static-background-background_0-text: #003441;
  --static-background-background_1-background: #E6F2F6;
  --static-background-background_1-text: #003441;
  --static-background-background_2-background: #EAEAEA;
  --static-background-background_2-text: #003441;
  --static-background-background_3-background: #E4E4E4;
  --static-background-background_3-text: #003441;
  --static-background-background_accent_0-background: #0181A2;
  --static-background-background_accent_0-text: #FFFFFF;
  --static-background-background_accent_1-background: #FFFFFF;
  --static-background-background_accent_1-text: #003441;
  --static-background-background_accent_2-background: #FFFFFF;
  --static-background-background_accent_2-text: #003441;
  --static-background-background_accent_3-background: #E6F2F6;
  --static-background-background_accent_3-text: #003441;
  --static-background-background_accent_4-background: #FFFFFF;
  --static-background-background_accent_4-text: #003441;
  --static-background-background_accent_5-background: #FFFFFF;
  --static-background-background_accent_5-text: #003441;
  --static-transport-transport_city-background: #014D61;
  --static-transport-transport_city-text: #FFFFFF;
  --static-transport-transport_region-background: #6C7E2F;
  --static-transport-transport_region-text: #FFFFFF;
  --static-transport-transport_boat-background: #1777D7;
  --static-transport-transport_boat-text: #FFFFFF;
  --static-transport-transport_train-background: #A5608A;
  --static-transport-transport_train-text: #FFFFFF;
  --static-transport-transport_airport-background: #8A62C3;
  --static-transport-transport_airport-text: #FFFFFF;
  --static-transport-transport_plane-background: #318181;
  --static-transport-transport_plane-text: #FFFFFF;
  --static-transport-transport_other-background: #717171;
  --static-transport-transport_other-text: #FFFFFF;
  --static-status-valid-background: #7FDABB;
  --static-status-valid-text: #003441;
  --static-status-info-background: #99CDDA;
  --static-status-info-text: #003441;
  --static-status-warning-background: #FCBA63;
  --static-status-warning-text: #003441;
  --static-status-error-background: #A61419;
  --static-status-error-text: #FFFFFF;

  --interactive-interactive_0-default-background: #046073;
  --interactive-interactive_0-default-text: #FFFFFF;
  --interactive-interactive_0-hover-background: #0181A2;
  --interactive-interactive_0-hover-text: #FFFFFF;
  --interactive-interactive_0-active-background: #99CDDA;
  --interactive-interactive_0-active-text: #003441;
  --interactive-interactive_0-disabled-background: #99A7AB;
  --interactive-interactive_0-disabled-text: #FFFFFF;
  --interactive-interactive_0-outline-background: #0181A2;
  --interactive-interactive_0-outline-text: #003441;
  --interactive-interactive_1-default-background: #FFFFFF;
  --interactive-interactive_1-default-text: #003441;
  --interactive-interactive_1-hover-background: #0181A2;
  --interactive-interactive_1-hover-text: #FFFFFF;
  --interactive-interactive_1-active-background: #99CDDA;
  --interactive-interactive_1-active-text: #003441;
  --interactive-interactive_1-disabled-background: #99A7AB;
  --interactive-interactive_1-disabled-text: #FFFFFF;
  --interactive-interactive_1-outline-background: #0181A2;
  --interactive-interactive_1-outline-text: #FFFFFF;
  --interactive-interactive_2-default-background: #FFFFFF;
  --interactive-interactive_2-default-text: #003441;
  --interactive-interactive_2-hover-background: #0181A2;
  --interactive-interactive_2-hover-text: #003441;
  --interactive-interactive_2-active-background: #99CDDA;
  --interactive-interactive_2-active-text: #003441;
  --interactive-interactive_2-disabled-background: #E6F2F6;
  --interactive-interactive_2-disabled-text: #003441;
  --interactive-interactive_2-outline-background: #046073;
  --interactive-interactive_2-outline-text: #FFFFFF;
  --interactive-interactive_3-default-background: #FFFFFF;
  --interactive-interactive_3-default-text: #003441;
  --interactive-interactive_3-hover-background: #FFFFFF;
  --interactive-interactive_3-hover-text: #003441;
  --interactive-interactive_3-active-background: #FFFFFF;
  --interactive-interactive_3-active-text: #003441;
  --interactive-interactive_3-disabled-background: #FFFFFF;
  --interactive-interactive_3-disabled-text: #003441;
  --interactive-interactive_3-outline-background: #FFFFFF;
  --interactive-interactive_3-outline-text: #003441;
  --interactive-interactive_destructive-default-background: #FFFFFF;
  --interactive-interactive_destructive-default-text: #003441;
  --interactive-interactive_destructive-hover-background: #FFFFFF;
  --interactive-interactive_destructive-hover-text: #003441;
  --interactive-interactive_destructive-active-background: #FFFFFF;
  --interactive-interactive_destructive-active-text: #003441;
  --interactive-interactive_destructive-disabled-background: #FFFFFF;
  --interactive-interactive_destructive-disabled-text: #003441;
  --interactive-interactive_destructive-outline-background: #FFFFFF;
  --interactive-interactive_destructive-outline-text: #003441;
}


/* Dark theme data */
.dark {
  --border-primary: #2C353B;
  --border-secondary: #FFFFFF;
  --border-focus: #71D6E0;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: rgba(255, 255, 255, 0.6);
  --text-colors-disabled: rgba(255, 255, 255, 0.2);

  --static-background-background_0-background: #046073;
  --static-background-background_0-text: #FFFFFF;
  --static-background-background_1-background: #00303D;
  --static-background-background_1-text: #FFFFFF;
  --static-background-background_2-background: #00232C;
  --static-background-background_2-text: #FFFFFF;
  --static-background-background_3-background: #002B38;
  --static-background-background_3-text: #FFFFFF;
  --static-background-background_accent_0-background: #00232C;
  --static-background-background_accent_0-text: #FFFFFF;
  --static-background-background_accent_1-background: #000000;
  --static-background-background_accent_1-text: #FFFFFF;
  --static-background-background_accent_2-background: #000000;
  --static-background-background_accent_2-text: #FFFFFF;
  --static-background-background_accent_3-background: #0181A2;
  --static-background-background_accent_3-text: #FFFFFF;
  --static-background-background_accent_4-background: #000000;
  --static-background-background_accent_4-text: #FFFFFF;
  --static-background-background_accent_5-background: #000000;
  --static-background-background_accent_5-text: #FFFFFF;
  --static-transport-transport_city-background: #80C0D1;
  --static-transport-transport_city-text: #003441;
  --static-transport-transport_region-background: #98A56D;
  --static-transport-transport_region-text: #003441;
  --static-transport-transport_boat-background: #5DA0E3;
  --static-transport-transport_boat-text: #003441;
  --static-transport-transport_train-background: #C090AD;
  --static-transport-transport_train-text: #003441;
  --static-transport-transport_airport-background: #AD91D5;
  --static-transport-transport_airport-text: #003441;
  --static-transport-transport_plane-background: #6FA7A7;
  --static-transport-transport_plane-text: #003441;
  --static-transport-transport_other-background: #9C9C9C;
  --static-transport-transport_other-text: #003441;
  --static-status-valid-background: #7FDABB;
  --static-status-valid-text: #003441;
  --static-status-info-background: #99CDDA;
  --static-status-info-text: #003441;
  --static-status-warning-background: #FCBA63;
  --static-status-warning-text: #003441;
  --static-status-error-background: #BE161D;
  --static-status-error-text: #FFFFFF;

  --interactive-interactive_0-default-background: #0181A2;
  --interactive-interactive_0-default-text: #FFFFFF;
  --interactive-interactive_0-hover-background: #046073;
  --interactive-interactive_0-hover-text: #FFFFFF;
  --interactive-interactive_0-active-background: #99CDDA;
  --interactive-interactive_0-active-text: #003441;
  --interactive-interactive_0-disabled-background: #99A7AB;
  --interactive-interactive_0-disabled-text: #FFFFFF;
  --interactive-interactive_0-outline-background: #046073;
  --interactive-interactive_0-outline-text: #003441;
  --interactive-interactive_1-default-background: #046073;
  --interactive-interactive_1-default-text: #FFFFFF;
  --interactive-interactive_1-hover-background: #00303D;
  --interactive-interactive_1-hover-text: #FFFFFF;
  --interactive-interactive_1-active-background: #0181A2;
  --interactive-interactive_1-active-text: #FFFFFF;
  --interactive-interactive_1-disabled-background: #99A7AB;
  --interactive-interactive_1-disabled-text: #FFFFFF;
  --interactive-interactive_1-outline-background: #0181A2;
  --interactive-interactive_1-outline-text: #FFFFFF;
  --interactive-interactive_2-default-background: #046073;
  --interactive-interactive_2-default-text: #FFFFFF;
  --interactive-interactive_2-hover-background: #00232C;
  --interactive-interactive_2-hover-text: #FFFFFF;
  --interactive-interactive_2-active-background: #00303D;
  --interactive-interactive_2-active-text: #FFFFFF;
  --interactive-interactive_2-disabled-background: #00303D;
  --interactive-interactive_2-disabled-text: #FFFFFF;
  --interactive-interactive_2-outline-background: #FFFFFF;
  --interactive-interactive_2-outline-text: #003441;
  --interactive-interactive_3-default-background: #FFFFFF;
  --interactive-interactive_3-default-text: #003441;
  --interactive-interactive_3-hover-background: #FFFFFF;
  --interactive-interactive_3-hover-text: #003441;
  --interactive-interactive_3-active-background: #FFFFFF;
  --interactive-interactive_3-active-text: #003441;
  --interactive-interactive_3-disabled-background: #FFFFFF;
  --interactive-interactive_3-disabled-text: #003441;
  --interactive-interactive_3-outline-background: #FFFFFF;
  --interactive-interactive_3-outline-text: #003441;
  --interactive-interactive_destructive-default-background: #FFFFFF;
  --interactive-interactive_destructive-default-text: #003441;
  --interactive-interactive_destructive-hover-background: #FFFFFF;
  --interactive-interactive_destructive-hover-text: #003441;
  --interactive-interactive_destructive-active-background: #FFFFFF;
  --interactive-interactive_destructive-active-text: #003441;
  --interactive-interactive_destructive-disabled-background: #FFFFFF;
  --interactive-interactive_destructive-disabled-text: #003441;
  --interactive-interactive_destructive-outline-background: #FFFFFF;
  --interactive-interactive_destructive-outline-text: #003441;
}


@media (prefers-color-scheme: dark) {
  .light:not(.override-light) {
  --border-primary: #2C353B;
  --border-secondary: #FFFFFF;
  --border-focus: #71D6E0;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: rgba(255, 255, 255, 0.6);
  --text-colors-disabled: rgba(255, 255, 255, 0.2);

  --static-background-background_0-background: #046073;
  --static-background-background_0-text: #FFFFFF;
  --static-background-background_1-background: #00303D;
  --static-background-background_1-text: #FFFFFF;
  --static-background-background_2-background: #00232C;
  --static-background-background_2-text: #FFFFFF;
  --static-background-background_3-background: #002B38;
  --static-background-background_3-text: #FFFFFF;
  --static-background-background_accent_0-background: #00232C;
  --static-background-background_accent_0-text: #FFFFFF;
  --static-background-background_accent_1-background: #000000;
  --static-background-background_accent_1-text: #FFFFFF;
  --static-background-background_accent_2-background: #000000;
  --static-background-background_accent_2-text: #FFFFFF;
  --static-background-background_accent_3-background: #0181A2;
  --static-background-background_accent_3-text: #FFFFFF;
  --static-background-background_accent_4-background: #000000;
  --static-background-background_accent_4-text: #FFFFFF;
  --static-background-background_accent_5-background: #000000;
  --static-background-background_accent_5-text: #FFFFFF;
  --static-transport-transport_city-background: #80C0D1;
  --static-transport-transport_city-text: #003441;
  --static-transport-transport_region-background: #98A56D;
  --static-transport-transport_region-text: #003441;
  --static-transport-transport_boat-background: #5DA0E3;
  --static-transport-transport_boat-text: #003441;
  --static-transport-transport_train-background: #C090AD;
  --static-transport-transport_train-text: #003441;
  --static-transport-transport_airport-background: #AD91D5;
  --static-transport-transport_airport-text: #003441;
  --static-transport-transport_plane-background: #6FA7A7;
  --static-transport-transport_plane-text: #003441;
  --static-transport-transport_other-background: #9C9C9C;
  --static-transport-transport_other-text: #003441;
  --static-status-valid-background: #7FDABB;
  --static-status-valid-text: #003441;
  --static-status-info-background: #99CDDA;
  --static-status-info-text: #003441;
  --static-status-warning-background: #FCBA63;
  --static-status-warning-text: #003441;
  --static-status-error-background: #BE161D;
  --static-status-error-text: #FFFFFF;

  --interactive-interactive_0-default-background: #0181A2;
  --interactive-interactive_0-default-text: #FFFFFF;
  --interactive-interactive_0-hover-background: #046073;
  --interactive-interactive_0-hover-text: #FFFFFF;
  --interactive-interactive_0-active-background: #99CDDA;
  --interactive-interactive_0-active-text: #003441;
  --interactive-interactive_0-disabled-background: #99A7AB;
  --interactive-interactive_0-disabled-text: #FFFFFF;
  --interactive-interactive_0-outline-background: #046073;
  --interactive-interactive_0-outline-text: #003441;
  --interactive-interactive_1-default-background: #046073;
  --interactive-interactive_1-default-text: #FFFFFF;
  --interactive-interactive_1-hover-background: #00303D;
  --interactive-interactive_1-hover-text: #FFFFFF;
  --interactive-interactive_1-active-background: #0181A2;
  --interactive-interactive_1-active-text: #FFFFFF;
  --interactive-interactive_1-disabled-background: #99A7AB;
  --interactive-interactive_1-disabled-text: #FFFFFF;
  --interactive-interactive_1-outline-background: #0181A2;
  --interactive-interactive_1-outline-text: #FFFFFF;
  --interactive-interactive_2-default-background: #046073;
  --interactive-interactive_2-default-text: #FFFFFF;
  --interactive-interactive_2-hover-background: #00232C;
  --interactive-interactive_2-hover-text: #FFFFFF;
  --interactive-interactive_2-active-background: #00303D;
  --interactive-interactive_2-active-text: #FFFFFF;
  --interactive-interactive_2-disabled-background: #00303D;
  --interactive-interactive_2-disabled-text: #FFFFFF;
  --interactive-interactive_2-outline-background: #FFFFFF;
  --interactive-interactive_2-outline-text: #003441;
  --interactive-interactive_3-default-background: #FFFFFF;
  --interactive-interactive_3-default-text: #003441;
  --interactive-interactive_3-hover-background: #FFFFFF;
  --interactive-interactive_3-hover-text: #003441;
  --interactive-interactive_3-active-background: #FFFFFF;
  --interactive-interactive_3-active-text: #003441;
  --interactive-interactive_3-disabled-background: #FFFFFF;
  --interactive-interactive_3-disabled-text: #003441;
  --interactive-interactive_3-outline-background: #FFFFFF;
  --interactive-interactive_3-outline-text: #003441;
  --interactive-interactive_destructive-default-background: #FFFFFF;
  --interactive-interactive_destructive-default-text: #003441;
  --interactive-interactive_destructive-hover-background: #FFFFFF;
  --interactive-interactive_destructive-hover-text: #003441;
  --interactive-interactive_destructive-active-background: #FFFFFF;
  --interactive-interactive_destructive-active-text: #003441;
  --interactive-interactive_destructive-disabled-background: #FFFFFF;
  --interactive-interactive_destructive-disabled-text: #003441;
  --interactive-interactive_destructive-outline-background: #FFFFFF;
  --interactive-interactive_destructive-outline-text: #003441;
}
}


/* Theme color pairs */
.static-background-background_0 {
  background-color: var(--static-background-background_0-background);
  color: var(--static-background-background_0-text);
}
.static-background-background_1 {
  background-color: var(--static-background-background_1-background);
  color: var(--static-background-background_1-text);
}
.static-background-background_2 {
  background-color: var(--static-background-background_2-background);
  color: var(--static-background-background_2-text);
}
.static-background-background_3 {
  background-color: var(--static-background-background_3-background);
  color: var(--static-background-background_3-text);
}
.static-background-background_accent_0 {
  background-color: var(--static-background-background_accent_0-background);
  color: var(--static-background-background_accent_0-text);
}
.static-background-background_accent_1 {
  background-color: var(--static-background-background_accent_1-background);
  color: var(--static-background-background_accent_1-text);
}
.static-background-background_accent_2 {
  background-color: var(--static-background-background_accent_2-background);
  color: var(--static-background-background_accent_2-text);
}
.static-background-background_accent_3 {
  background-color: var(--static-background-background_accent_3-background);
  color: var(--static-background-background_accent_3-text);
}
.static-background-background_accent_4 {
  background-color: var(--static-background-background_accent_4-background);
  color: var(--static-background-background_accent_4-text);
}
.static-background-background_accent_5 {
  background-color: var(--static-background-background_accent_5-background);
  color: var(--static-background-background_accent_5-text);
}
.static-transport-transport_city {
  background-color: var(--static-transport-transport_city-background);
  color: var(--static-transport-transport_city-text);
}
.static-transport-transport_region {
  background-color: var(--static-transport-transport_region-background);
  color: var(--static-transport-transport_region-text);
}
.static-transport-transport_boat {
  background-color: var(--static-transport-transport_boat-background);
  color: var(--static-transport-transport_boat-text);
}
.static-transport-transport_train {
  background-color: var(--static-transport-transport_train-background);
  color: var(--static-transport-transport_train-text);
}
.static-transport-transport_airport {
  background-color: var(--static-transport-transport_airport-background);
  color: var(--static-transport-transport_airport-text);
}
.static-transport-transport_plane {
  background-color: var(--static-transport-transport_plane-background);
  color: var(--static-transport-transport_plane-text);
}
.static-transport-transport_other {
  background-color: var(--static-transport-transport_other-background);
  color: var(--static-transport-transport_other-text);
}
.static-status-valid {
  background-color: var(--static-status-valid-background);
  color: var(--static-status-valid-text);
}
.static-status-info {
  background-color: var(--static-status-info-background);
  color: var(--static-status-info-text);
}
.static-status-warning {
  background-color: var(--static-status-warning-background);
  color: var(--static-status-warning-text);
}
.static-status-error {
  background-color: var(--static-status-error-background);
  color: var(--static-status-error-text);
}

.interactive-interactive_0 {
  background-color: var(--interactive-interactive_0-default-background);
  color: var(--interactive-interactive_0-default-text);
}
.interactive-interactive_0:hover {
  background-color: var(--interactive-interactive_0-hover-background);
  color: var(--interactive-interactive_0-hover-text);
}
.interactive-interactive_0:active {
  background-color: var(--interactive-interactive_0-active-background);
  color: var(--interactive-interactive_0-active-text);
}
.interactive-interactive_0:disabled {
  background-color: var(--interactive-interactive_0-disabled-background);
  color: var(--interactive-interactive_0-disabled-text);
}
.interactive-interactive_1 {
  background-color: var(--interactive-interactive_1-default-background);
  color: var(--interactive-interactive_1-default-text);
}
.interactive-interactive_1:hover {
  background-color: var(--interactive-interactive_1-hover-background);
  color: var(--interactive-interactive_1-hover-text);
}
.interactive-interactive_1:active {
  background-color: var(--interactive-interactive_1-active-background);
  color: var(--interactive-interactive_1-active-text);
}
.interactive-interactive_1:disabled {
  background-color: var(--interactive-interactive_1-disabled-background);
  color: var(--interactive-interactive_1-disabled-text);
}
.interactive-interactive_2 {
  background-color: var(--interactive-interactive_2-default-background);
  color: var(--interactive-interactive_2-default-text);
}
.interactive-interactive_2:hover {
  background-color: var(--interactive-interactive_2-hover-background);
  color: var(--interactive-interactive_2-hover-text);
}
.interactive-interactive_2:active {
  background-color: var(--interactive-interactive_2-active-background);
  color: var(--interactive-interactive_2-active-text);
}
.interactive-interactive_2:disabled {
  background-color: var(--interactive-interactive_2-disabled-background);
  color: var(--interactive-interactive_2-disabled-text);
}
.interactive-interactive_3 {
  background-color: var(--interactive-interactive_3-default-background);
  color: var(--interactive-interactive_3-default-text);
}
.interactive-interactive_3:hover {
  background-color: var(--interactive-interactive_3-hover-background);
  color: var(--interactive-interactive_3-hover-text);
}
.interactive-interactive_3:active {
  background-color: var(--interactive-interactive_3-active-background);
  color: var(--interactive-interactive_3-active-text);
}
.interactive-interactive_3:disabled {
  background-color: var(--interactive-interactive_3-disabled-background);
  color: var(--interactive-interactive_3-disabled-text);
}
.interactive-interactive_destructive {
  background-color: var(--interactive-interactive_destructive-default-background);
  color: var(--interactive-interactive_destructive-default-text);
}
.interactive-interactive_destructive:hover {
  background-color: var(--interactive-interactive_destructive-hover-background);
  color: var(--interactive-interactive_destructive-hover-text);
}
.interactive-interactive_destructive:active {
  background-color: var(--interactive-interactive_destructive-active-background);
  color: var(--interactive-interactive_destructive-active-text);
}
.interactive-interactive_destructive:disabled {
  background-color: var(--interactive-interactive_destructive-disabled-background);
  color: var(--interactive-interactive_destructive-disabled-text);
}
