

/* Light theme data */
.light {
  --border-primary: #E7E8E9;
  --border-secondary: #003441;
  --border-focus: #007C92;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #003441;
  --text-colors-secondary: rgba(0, 52, 65, 0.7);
  --text-colors-disabled: rgba(0, 52, 65, 0.52);

  --colors-background_0-background: #FFFFFF;
  --colors-background_0-text: #003441;
  --colors-background_0-opacity: 1;
  --colors-background_1-background: #E6F2F6;
  --colors-background_1-text: #003441;
  --colors-background_1-opacity: 1;
  --colors-background_2-background: #EAEAEA;
  --colors-background_2-text: #003441;
  --colors-background_2-opacity: 1;
  --colors-background_3-background: #E4E4E4;
  --colors-background_3-text: #003441;
  --colors-background_3-opacity: 1;
  --colors-background_accent-background: #0181A2;
  --colors-background_accent-text: #FFFFFF;
  --colors-background_accent-opacity: 1;
  --colors-primary_1-background: #80C0D1;
  --colors-primary_1-text: #003441;
  --colors-primary_1-opacity: 1;
  --colors-primary_2-background: #046073;
  --colors-primary_2-text: #FFFFFF;
  --colors-primary_2-opacity: 1;
  --colors-primary_3-background: #99CDDA;
  --colors-primary_3-text: #003441;
  --colors-primary_3-opacity: 1;
  --colors-primary_destructive-background: #A61419;
  --colors-primary_destructive-text: #FFFFFF;
  --colors-primary_destructive-opacity: 1;
  --colors-secondary_1-background: #003441;
  --colors-secondary_1-text: #FFFFFF;
  --colors-secondary_1-opacity: 1;
  --colors-secondary_2-background: #BCCBCF;
  --colors-secondary_2-text: #003441;
  --colors-secondary_2-opacity: 1;
  --colors-secondary_3-background: #566569;
  --colors-secondary_3-text: #FFFFFF;
  --colors-secondary_3-opacity: 1;
  --colors-secondary_4-background: #DDE5E7;
  --colors-secondary_4-text: #003441;
  --colors-secondary_4-opacity: 1;
  --colors-transport_city-background: #014D61;
  --colors-transport_city-text: #FFFFFF;
  --colors-transport_city-opacity: 1;
  --colors-transport_region-background: #6C7E2F;
  --colors-transport_region-text: #FFFFFF;
  --colors-transport_region-opacity: 1;
  --colors-transport_boat-background: #1777D7;
  --colors-transport_boat-text: #FFFFFF;
  --colors-transport_boat-opacity: 1;
  --colors-transport_train-background: #A5608A;
  --colors-transport_train-text: #FFFFFF;
  --colors-transport_train-opacity: 1;
  --colors-transport_airport-background: #8A62C3;
  --colors-transport_airport-text: #FFFFFF;
  --colors-transport_airport-opacity: 1;
  --colors-transport_plane-background: #318181;
  --colors-transport_plane-text: #FFFFFF;
  --colors-transport_plane-opacity: 1;
  --colors-transport_other-background: #717171;
  --colors-transport_other-text: #FFFFFF;
  --colors-transport_other-opacity: 1;

  --status-valid-main-background: #7FDABB;
  --status-valid-main-text: #003441;
  --status-valid-main-opacity: 1;
  --status-info-main-background: #99CDDA;
  --status-info-main-text: #003441;
  --status-info-main-opacity: 1;
  --status-warning-main-background: #FCBA63;
  --status-warning-main-text: #003441;
  --status-warning-main-opacity: 1;
  --status-error-main-background: #A61419;
  --status-error-main-text: #FFFFFF;
  --status-error-main-opacity: 1;

  --interactive-primary_accent-default-background: #FFFFFF;
  --interactive-primary_accent-default-text: #003441;
  --interactive-primary_accent-default-opacity: 1;
  --interactive-primary_accent-hover-background: #FFFFFF;
  --interactive-primary_accent-hover-text: #003441;
  --interactive-primary_accent-hover-opacity: 1;
  --interactive-primary_accent-active-background: #FFFFFF;
  --interactive-primary_accent-active-text: #003441;
  --interactive-primary_accent-active-opacity: 1;
  --interactive-primary_accent-disabled-background: #FFFFFF;
  --interactive-primary_accent-disabled-text: #003441;
  --interactive-primary_accent-disabled-opacity: 1;
  --interactive-primary_accent-outline-background: #FFFFFF;
  --interactive-primary_accent-outline-text: #003441;
  --interactive-primary_accent-outline-opacity: 1;
  --interactive-primary_neutral-default-background: #FFFFFF;
  --interactive-primary_neutral-default-text: #003441;
  --interactive-primary_neutral-default-opacity: 1;
  --interactive-primary_neutral-hover-background: #FFFFFF;
  --interactive-primary_neutral-hover-text: #003441;
  --interactive-primary_neutral-hover-opacity: 1;
  --interactive-primary_neutral-active-background: #FFFFFF;
  --interactive-primary_neutral-active-text: #003441;
  --interactive-primary_neutral-active-opacity: 1;
  --interactive-primary_neutral-disabled-background: #FFFFFF;
  --interactive-primary_neutral-disabled-text: #003441;
  --interactive-primary_neutral-disabled-opacity: 1;
  --interactive-primary_neutral-outline-background: #FFFFFF;
  --interactive-primary_neutral-outline-text: #003441;
  --interactive-primary_neutral-outline-opacity: 1;
}


/* Dark theme data */
.dark {
  --border-primary: #2C353B;
  --border-secondary: #FFFFFF;
  --border-focus: #71D6E0;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: rgba(255, 255, 255, 0.6);
  --text-colors-disabled: rgba(255, 255, 255, 0.2);

  --colors-background_0-background: #046073;
  --colors-background_0-text: #FFFFFF;
  --colors-background_0-opacity: 1;
  --colors-background_1-background: #00303D;
  --colors-background_1-text: #FFFFFF;
  --colors-background_1-opacity: 1;
  --colors-background_2-background: #00232C;
  --colors-background_2-text: #FFFFFF;
  --colors-background_2-opacity: 1;
  --colors-background_3-background: #002B38;
  --colors-background_3-text: #FFFFFF;
  --colors-background_3-opacity: 1;
  --colors-background_accent-background: #00232C;
  --colors-background_accent-text: #FFFFFF;
  --colors-background_accent-opacity: 1;
  --colors-primary_1-background: #80C0D1;
  --colors-primary_1-text: #003441;
  --colors-primary_1-opacity: 1;
  --colors-primary_2-background: #0181A2;
  --colors-primary_2-text: #FFFFFF;
  --colors-primary_2-opacity: 1;
  --colors-primary_3-background: #99CDDA;
  --colors-primary_3-text: #003441;
  --colors-primary_3-opacity: 1;
  --colors-primary_destructive-background: #D51920;
  --colors-primary_destructive-text: #FFFFFF;
  --colors-primary_destructive-opacity: 1;
  --colors-secondary_1-background: #D2DDDF;
  --colors-secondary_1-text: #003441;
  --colors-secondary_1-opacity: 1;
  --colors-secondary_2-background: #386169;
  --colors-secondary_2-text: #FFFFFF;
  --colors-secondary_2-opacity: 1;
  --colors-secondary_3-background: #436B73;
  --colors-secondary_3-text: #FFFFFF;
  --colors-secondary_3-opacity: 1;
  --colors-secondary_4-background: #264B54;
  --colors-secondary_4-text: #FFFFFF;
  --colors-secondary_4-opacity: 1;
  --colors-transport_city-background: #80C0D1;
  --colors-transport_city-text: #003441;
  --colors-transport_city-opacity: 1;
  --colors-transport_region-background: #98A56D;
  --colors-transport_region-text: #003441;
  --colors-transport_region-opacity: 1;
  --colors-transport_boat-background: #5DA0E3;
  --colors-transport_boat-text: #003441;
  --colors-transport_boat-opacity: 1;
  --colors-transport_train-background: #C090AD;
  --colors-transport_train-text: #003441;
  --colors-transport_train-opacity: 1;
  --colors-transport_airport-background: #AD91D5;
  --colors-transport_airport-text: #003441;
  --colors-transport_airport-opacity: 1;
  --colors-transport_plane-background: #6FA7A7;
  --colors-transport_plane-text: #003441;
  --colors-transport_plane-opacity: 1;
  --colors-transport_other-background: #9C9C9C;
  --colors-transport_other-text: #003441;
  --colors-transport_other-opacity: 1;

  --status-valid-main-background: #7FDABB;
  --status-valid-main-text: #003441;
  --status-valid-main-opacity: 1;
  --status-info-main-background: #99CDDA;
  --status-info-main-text: #003441;
  --status-info-main-opacity: 1;
  --status-warning-main-background: #FCBA63;
  --status-warning-main-text: #003441;
  --status-warning-main-opacity: 1;
  --status-error-main-background: #BE161D;
  --status-error-main-text: #FFFFFF;
  --status-error-main-opacity: 1;

  --interactive-primary_accent-default-background: #FFFFFF;
  --interactive-primary_accent-default-text: #003441;
  --interactive-primary_accent-default-opacity: 1;
  --interactive-primary_accent-hover-background: #FFFFFF;
  --interactive-primary_accent-hover-text: #003441;
  --interactive-primary_accent-hover-opacity: 1;
  --interactive-primary_accent-active-background: #FFFFFF;
  --interactive-primary_accent-active-text: #003441;
  --interactive-primary_accent-active-opacity: 1;
  --interactive-primary_accent-disabled-background: #FFFFFF;
  --interactive-primary_accent-disabled-text: #003441;
  --interactive-primary_accent-disabled-opacity: 1;
  --interactive-primary_accent-outline-background: #FFFFFF;
  --interactive-primary_accent-outline-text: #003441;
  --interactive-primary_accent-outline-opacity: 1;
  --interactive-primary_neutral-default-background: #FFFFFF;
  --interactive-primary_neutral-default-text: #003441;
  --interactive-primary_neutral-default-opacity: 1;
  --interactive-primary_neutral-hover-background: #FFFFFF;
  --interactive-primary_neutral-hover-text: #003441;
  --interactive-primary_neutral-hover-opacity: 1;
  --interactive-primary_neutral-active-background: #FFFFFF;
  --interactive-primary_neutral-active-text: #003441;
  --interactive-primary_neutral-active-opacity: 1;
  --interactive-primary_neutral-disabled-background: #FFFFFF;
  --interactive-primary_neutral-disabled-text: #003441;
  --interactive-primary_neutral-disabled-opacity: 1;
  --interactive-primary_neutral-outline-background: #FFFFFF;
  --interactive-primary_neutral-outline-text: #003441;
  --interactive-primary_neutral-outline-opacity: 1;
}


@media (prefers-color-scheme: dark) {
  .light:not(.override-light) {
  --border-primary: #2C353B;
  --border-secondary: #FFFFFF;
  --border-focus: #71D6E0;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: rgba(255, 255, 255, 0.6);
  --text-colors-disabled: rgba(255, 255, 255, 0.2);

  --colors-background_0-background: #046073;
  --colors-background_0-text: #FFFFFF;
  --colors-background_0-opacity: 1;
  --colors-background_1-background: #00303D;
  --colors-background_1-text: #FFFFFF;
  --colors-background_1-opacity: 1;
  --colors-background_2-background: #00232C;
  --colors-background_2-text: #FFFFFF;
  --colors-background_2-opacity: 1;
  --colors-background_3-background: #002B38;
  --colors-background_3-text: #FFFFFF;
  --colors-background_3-opacity: 1;
  --colors-background_accent-background: #00232C;
  --colors-background_accent-text: #FFFFFF;
  --colors-background_accent-opacity: 1;
  --colors-primary_1-background: #80C0D1;
  --colors-primary_1-text: #003441;
  --colors-primary_1-opacity: 1;
  --colors-primary_2-background: #0181A2;
  --colors-primary_2-text: #FFFFFF;
  --colors-primary_2-opacity: 1;
  --colors-primary_3-background: #99CDDA;
  --colors-primary_3-text: #003441;
  --colors-primary_3-opacity: 1;
  --colors-primary_destructive-background: #D51920;
  --colors-primary_destructive-text: #FFFFFF;
  --colors-primary_destructive-opacity: 1;
  --colors-secondary_1-background: #D2DDDF;
  --colors-secondary_1-text: #003441;
  --colors-secondary_1-opacity: 1;
  --colors-secondary_2-background: #386169;
  --colors-secondary_2-text: #FFFFFF;
  --colors-secondary_2-opacity: 1;
  --colors-secondary_3-background: #436B73;
  --colors-secondary_3-text: #FFFFFF;
  --colors-secondary_3-opacity: 1;
  --colors-secondary_4-background: #264B54;
  --colors-secondary_4-text: #FFFFFF;
  --colors-secondary_4-opacity: 1;
  --colors-transport_city-background: #80C0D1;
  --colors-transport_city-text: #003441;
  --colors-transport_city-opacity: 1;
  --colors-transport_region-background: #98A56D;
  --colors-transport_region-text: #003441;
  --colors-transport_region-opacity: 1;
  --colors-transport_boat-background: #5DA0E3;
  --colors-transport_boat-text: #003441;
  --colors-transport_boat-opacity: 1;
  --colors-transport_train-background: #C090AD;
  --colors-transport_train-text: #003441;
  --colors-transport_train-opacity: 1;
  --colors-transport_airport-background: #AD91D5;
  --colors-transport_airport-text: #003441;
  --colors-transport_airport-opacity: 1;
  --colors-transport_plane-background: #6FA7A7;
  --colors-transport_plane-text: #003441;
  --colors-transport_plane-opacity: 1;
  --colors-transport_other-background: #9C9C9C;
  --colors-transport_other-text: #003441;
  --colors-transport_other-opacity: 1;

  --status-valid-main-background: #7FDABB;
  --status-valid-main-text: #003441;
  --status-valid-main-opacity: 1;
  --status-info-main-background: #99CDDA;
  --status-info-main-text: #003441;
  --status-info-main-opacity: 1;
  --status-warning-main-background: #FCBA63;
  --status-warning-main-text: #003441;
  --status-warning-main-opacity: 1;
  --status-error-main-background: #BE161D;
  --status-error-main-text: #FFFFFF;
  --status-error-main-opacity: 1;
  }
}


/* Theme color pairs */
.colors-background_0 {
  background-color: var(--colors-background_0-backgroundColor);
  color: var(--colors-background_0-color);
}
.colors-background_1 {
  background-color: var(--colors-background_1-backgroundColor);
  color: var(--colors-background_1-color);
}
.colors-background_2 {
  background-color: var(--colors-background_2-backgroundColor);
  color: var(--colors-background_2-color);
}
.colors-background_3 {
  background-color: var(--colors-background_3-backgroundColor);
  color: var(--colors-background_3-color);
}
.colors-background_accent {
  background-color: var(--colors-background_accent-backgroundColor);
  color: var(--colors-background_accent-color);
}
.colors-primary_1 {
  background-color: var(--colors-primary_1-backgroundColor);
  color: var(--colors-primary_1-color);
}
.colors-primary_2 {
  background-color: var(--colors-primary_2-backgroundColor);
  color: var(--colors-primary_2-color);
}
.colors-primary_3 {
  background-color: var(--colors-primary_3-backgroundColor);
  color: var(--colors-primary_3-color);
}
.colors-primary_destructive {
  background-color: var(--colors-primary_destructive-backgroundColor);
  color: var(--colors-primary_destructive-color);
}
.colors-secondary_1 {
  background-color: var(--colors-secondary_1-backgroundColor);
  color: var(--colors-secondary_1-color);
}
.colors-secondary_2 {
  background-color: var(--colors-secondary_2-backgroundColor);
  color: var(--colors-secondary_2-color);
}
.colors-secondary_3 {
  background-color: var(--colors-secondary_3-backgroundColor);
  color: var(--colors-secondary_3-color);
}
.colors-secondary_4 {
  background-color: var(--colors-secondary_4-backgroundColor);
  color: var(--colors-secondary_4-color);
}
.colors-transport_city {
  background-color: var(--colors-transport_city-backgroundColor);
  color: var(--colors-transport_city-color);
}
.colors-transport_region {
  background-color: var(--colors-transport_region-backgroundColor);
  color: var(--colors-transport_region-color);
}
.colors-transport_boat {
  background-color: var(--colors-transport_boat-backgroundColor);
  color: var(--colors-transport_boat-color);
}
.colors-transport_train {
  background-color: var(--colors-transport_train-backgroundColor);
  color: var(--colors-transport_train-color);
}
.colors-transport_airport {
  background-color: var(--colors-transport_airport-backgroundColor);
  color: var(--colors-transport_airport-color);
}
.colors-transport_plane {
  background-color: var(--colors-transport_plane-backgroundColor);
  color: var(--colors-transport_plane-color);
}
.colors-transport_other {
  background-color: var(--colors-transport_other-backgroundColor);
  color: var(--colors-transport_other-color);
}

.status-valid-main {
  background-color: var(--status-valid-main-backgroundColor);
  color: var(--status-valid-main-color);
}
.status-info-main {
  background-color: var(--status-info-main-backgroundColor);
  color: var(--status-info-main-color);
}
.status-warning-main {
  background-color: var(--status-warning-main-backgroundColor);
  color: var(--status-warning-main-color);
}
.status-error-main {
  background-color: var(--status-error-main-backgroundColor);
  color: var(--status-error-main-color);
}
