

/* Light theme data */
.light {
  --border-primary: #E7E8E9;
  --border-secondary: #003441;
  --border-focus: #007C92;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #003441;
  --text-colors-secondary: rgba(0, 52, 65, 0.7);
  --text-colors-disabled: rgba(0, 52, 65, 0.52);

  --colors-primary_accent-default-backgroundColor: #FFFFFF;
  --colors-primary_accent-default-color: #003441;
  --colors-primary_accent-hover-backgroundColor: #FFFFFF;
  --colors-primary_accent-hover-color: #003441;
  --colors-primary_accent-active-backgroundColor: #FFFFFF;
  --colors-primary_accent-active-color: #003441;
  --colors-primary_accent-disabled-backgroundColor: #FFFFFF;
  --colors-primary_accent-disabled-color: #003441;
  --colors-primary_accent-outline-backgroundColor: #FFFFFF;
  --colors-primary_accent-outline-color: #003441;
  --colors-background_0-backgroundColor: #FFFFFF;
  --colors-background_0-color: #003441;
  --colors-background_1-backgroundColor: #E6F2F6;
  --colors-background_1-color: #003441;
  --colors-background_2-backgroundColor: #EAEAEA;
  --colors-background_2-color: #003441;
  --colors-background_3-backgroundColor: #E4E4E4;
  --colors-background_3-color: #003441;
  --colors-background_accent-backgroundColor: #0181A2;
  --colors-background_accent-color: #FFFFFF;
  --colors-primary_1-backgroundColor: #80C0D1;
  --colors-primary_1-color: #003441;
  --colors-primary_2-backgroundColor: #046073;
  --colors-primary_2-color: #FFFFFF;
  --colors-primary_3-backgroundColor: #99CDDA;
  --colors-primary_3-color: #003441;
  --colors-primary_destructive-backgroundColor: #A61419;
  --colors-primary_destructive-color: #FFFFFF;
  --colors-secondary_1-backgroundColor: #003441;
  --colors-secondary_1-color: #FFFFFF;
  --colors-secondary_2-backgroundColor: #BCCBCF;
  --colors-secondary_2-color: #003441;
  --colors-secondary_3-backgroundColor: #566569;
  --colors-secondary_3-color: #FFFFFF;
  --colors-secondary_4-backgroundColor: #DDE5E7;
  --colors-secondary_4-color: #003441;
  --colors-transport_city-backgroundColor: #014D61;
  --colors-transport_city-color: #FFFFFF;
  --colors-transport_region-backgroundColor: #6C7E2F;
  --colors-transport_region-color: #FFFFFF;
  --colors-transport_boat-backgroundColor: #1777D7;
  --colors-transport_boat-color: #FFFFFF;
  --colors-transport_train-backgroundColor: #A5608A;
  --colors-transport_train-color: #FFFFFF;
  --colors-transport_airport-backgroundColor: #8A62C3;
  --colors-transport_airport-color: #FFFFFF;
  --colors-transport_plane-backgroundColor: #318181;
  --colors-transport_plane-color: #FFFFFF;
  --colors-transport_other-backgroundColor: #717171;
  --colors-transport_other-color: #FFFFFF;

  --status-valid-main-backgroundColor: #7FDABB;
  --status-valid-main-color: #003441;
  --status-info-main-backgroundColor: #99CDDA;
  --status-info-main-color: #003441;
  --status-warning-main-backgroundColor: #FCBA63;
  --status-warning-main-color: #003441;
  --status-error-main-backgroundColor: #A61419;
  --status-error-main-color: #FFFFFF;
}


/* Dark theme data */
.dark {
  --border-primary: #2C353B;
  --border-secondary: #FFFFFF;
  --border-focus: #71D6E0;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: rgba(255, 255, 255, 0.6);
  --text-colors-disabled: rgba(255, 255, 255, 0.2);

  --colors-primary_accent-default-backgroundColor: #FFFFFF;
  --colors-primary_accent-default-color: #003441;
  --colors-primary_accent-hover-backgroundColor: #FFFFFF;
  --colors-primary_accent-hover-color: #003441;
  --colors-primary_accent-active-backgroundColor: #FFFFFF;
  --colors-primary_accent-active-color: #003441;
  --colors-primary_accent-disabled-backgroundColor: #FFFFFF;
  --colors-primary_accent-disabled-color: #003441;
  --colors-primary_accent-outline-backgroundColor: #FFFFFF;
  --colors-primary_accent-outline-color: #003441;
  --colors-background_0-backgroundColor: #046073;
  --colors-background_0-color: #FFFFFF;
  --colors-background_1-backgroundColor: #00303D;
  --colors-background_1-color: #FFFFFF;
  --colors-background_2-backgroundColor: #00232C;
  --colors-background_2-color: #FFFFFF;
  --colors-background_3-backgroundColor: #002B38;
  --colors-background_3-color: #FFFFFF;
  --colors-background_accent-backgroundColor: #00232C;
  --colors-background_accent-color: #FFFFFF;
  --colors-primary_1-backgroundColor: #80C0D1;
  --colors-primary_1-color: #003441;
  --colors-primary_2-backgroundColor: #0181A2;
  --colors-primary_2-color: #FFFFFF;
  --colors-primary_3-backgroundColor: #99CDDA;
  --colors-primary_3-color: #003441;
  --colors-primary_destructive-backgroundColor: #D51920;
  --colors-primary_destructive-color: #FFFFFF;
  --colors-secondary_1-backgroundColor: #D2DDDF;
  --colors-secondary_1-color: #003441;
  --colors-secondary_2-backgroundColor: #386169;
  --colors-secondary_2-color: #FFFFFF;
  --colors-secondary_3-backgroundColor: #436B73;
  --colors-secondary_3-color: #FFFFFF;
  --colors-secondary_4-backgroundColor: #264B54;
  --colors-secondary_4-color: #FFFFFF;
  --colors-transport_city-backgroundColor: #80C0D1;
  --colors-transport_city-color: #003441;
  --colors-transport_region-backgroundColor: #98A56D;
  --colors-transport_region-color: #003441;
  --colors-transport_boat-backgroundColor: #5DA0E3;
  --colors-transport_boat-color: #003441;
  --colors-transport_train-backgroundColor: #C090AD;
  --colors-transport_train-color: #003441;
  --colors-transport_airport-backgroundColor: #AD91D5;
  --colors-transport_airport-color: #003441;
  --colors-transport_plane-backgroundColor: #6FA7A7;
  --colors-transport_plane-color: #003441;
  --colors-transport_other-backgroundColor: #9C9C9C;
  --colors-transport_other-color: #003441;

  --status-valid-main-backgroundColor: #7FDABB;
  --status-valid-main-color: #003441;
  --status-info-main-backgroundColor: #99CDDA;
  --status-info-main-color: #003441;
  --status-warning-main-backgroundColor: #FCBA63;
  --status-warning-main-color: #003441;
  --status-error-main-backgroundColor: #BE161D;
  --status-error-main-color: #FFFFFF;
}


@media (prefers-color-scheme: dark) {
  .light:not(.override-light) {
  --border-primary: #2C353B;
  --border-secondary: #FFFFFF;
  --border-focus: #71D6E0;
  --border-radius-circle: 1.25rem;
  --border-radius-regular: 0.5rem;
  --border-radius-small: 0.25rem;
  --border-width-slim: 0.0625rem;
  --border-width-medium: 0.125rem;

  --spacings-xLarge: 1.5rem;
  --spacings-large: 1.25rem;
  --spacings-medium: 0.75rem;
  --spacings-small: 0.5rem;
  --spacings-xSmall: 0.25rem;

  --icon-size-large: 1.75rem;
  --icon-size-normal: 1.25rem;
  --icon-size-small: 0.625rem;

  --text-colors-primary: #FFFFFF;
  --text-colors-secondary: rgba(255, 255, 255, 0.6);
  --text-colors-disabled: rgba(255, 255, 255, 0.2);

  --colors-primary_accent-default-backgroundColor: #FFFFFF;
  --colors-primary_accent-default-color: #003441;
  --colors-primary_accent-hover-backgroundColor: #FFFFFF;
  --colors-primary_accent-hover-color: #003441;
  --colors-primary_accent-active-backgroundColor: #FFFFFF;
  --colors-primary_accent-active-color: #003441;
  --colors-primary_accent-disabled-backgroundColor: #FFFFFF;
  --colors-primary_accent-disabled-color: #003441;
  --colors-primary_accent-outline-backgroundColor: #FFFFFF;
  --colors-primary_accent-outline-color: #003441;
  --colors-background_0-backgroundColor: #046073;
  --colors-background_0-color: #FFFFFF;
  --colors-background_1-backgroundColor: #00303D;
  --colors-background_1-color: #FFFFFF;
  --colors-background_2-backgroundColor: #00232C;
  --colors-background_2-color: #FFFFFF;
  --colors-background_3-backgroundColor: #002B38;
  --colors-background_3-color: #FFFFFF;
  --colors-background_accent-backgroundColor: #00232C;
  --colors-background_accent-color: #FFFFFF;
  --colors-primary_1-backgroundColor: #80C0D1;
  --colors-primary_1-color: #003441;
  --colors-primary_2-backgroundColor: #0181A2;
  --colors-primary_2-color: #FFFFFF;
  --colors-primary_3-backgroundColor: #99CDDA;
  --colors-primary_3-color: #003441;
  --colors-primary_destructive-backgroundColor: #D51920;
  --colors-primary_destructive-color: #FFFFFF;
  --colors-secondary_1-backgroundColor: #D2DDDF;
  --colors-secondary_1-color: #003441;
  --colors-secondary_2-backgroundColor: #386169;
  --colors-secondary_2-color: #FFFFFF;
  --colors-secondary_3-backgroundColor: #436B73;
  --colors-secondary_3-color: #FFFFFF;
  --colors-secondary_4-backgroundColor: #264B54;
  --colors-secondary_4-color: #FFFFFF;
  --colors-transport_city-backgroundColor: #80C0D1;
  --colors-transport_city-color: #003441;
  --colors-transport_region-backgroundColor: #98A56D;
  --colors-transport_region-color: #003441;
  --colors-transport_boat-backgroundColor: #5DA0E3;
  --colors-transport_boat-color: #003441;
  --colors-transport_train-backgroundColor: #C090AD;
  --colors-transport_train-color: #003441;
  --colors-transport_airport-backgroundColor: #AD91D5;
  --colors-transport_airport-color: #003441;
  --colors-transport_plane-backgroundColor: #6FA7A7;
  --colors-transport_plane-color: #003441;
  --colors-transport_other-backgroundColor: #9C9C9C;
  --colors-transport_other-color: #003441;

  --status-valid-main-backgroundColor: #7FDABB;
  --status-valid-main-color: #003441;
  --status-info-main-backgroundColor: #99CDDA;
  --status-info-main-color: #003441;
  --status-warning-main-backgroundColor: #FCBA63;
  --status-warning-main-color: #003441;
  --status-error-main-backgroundColor: #BE161D;
  --status-error-main-color: #FFFFFF;
  }
}


/* Theme color pairs */
.colors-primary_accent-default {
  background-color: var(--colors-primary_accent-default-backgroundColor);
  color: var(--colors-primary_accent-default-color);
}
.colors-primary_accent-hover {
  background-color: var(--colors-primary_accent-hover-backgroundColor);
  color: var(--colors-primary_accent-hover-color);
}
.colors-primary_accent-active {
  background-color: var(--colors-primary_accent-active-backgroundColor);
  color: var(--colors-primary_accent-active-color);
}
.colors-primary_accent-disabled {
  background-color: var(--colors-primary_accent-disabled-backgroundColor);
  color: var(--colors-primary_accent-disabled-color);
}
.colors-primary_accent-outline {
  background-color: var(--colors-primary_accent-outline-backgroundColor);
  color: var(--colors-primary_accent-outline-color);
}
.colors-background_0 {
  background-color: var(--colors-background_0-backgroundColor);
  color: var(--colors-background_0-color);
}
.colors-background_1 {
  background-color: var(--colors-background_1-backgroundColor);
  color: var(--colors-background_1-color);
}
.colors-background_2 {
  background-color: var(--colors-background_2-backgroundColor);
  color: var(--colors-background_2-color);
}
.colors-background_3 {
  background-color: var(--colors-background_3-backgroundColor);
  color: var(--colors-background_3-color);
}
.colors-background_accent {
  background-color: var(--colors-background_accent-backgroundColor);
  color: var(--colors-background_accent-color);
}
.colors-primary_1 {
  background-color: var(--colors-primary_1-backgroundColor);
  color: var(--colors-primary_1-color);
}
.colors-primary_2 {
  background-color: var(--colors-primary_2-backgroundColor);
  color: var(--colors-primary_2-color);
}
.colors-primary_3 {
  background-color: var(--colors-primary_3-backgroundColor);
  color: var(--colors-primary_3-color);
}
.colors-primary_destructive {
  background-color: var(--colors-primary_destructive-backgroundColor);
  color: var(--colors-primary_destructive-color);
}
.colors-secondary_1 {
  background-color: var(--colors-secondary_1-backgroundColor);
  color: var(--colors-secondary_1-color);
}
.colors-secondary_2 {
  background-color: var(--colors-secondary_2-backgroundColor);
  color: var(--colors-secondary_2-color);
}
.colors-secondary_3 {
  background-color: var(--colors-secondary_3-backgroundColor);
  color: var(--colors-secondary_3-color);
}
.colors-secondary_4 {
  background-color: var(--colors-secondary_4-backgroundColor);
  color: var(--colors-secondary_4-color);
}
.colors-transport_city {
  background-color: var(--colors-transport_city-backgroundColor);
  color: var(--colors-transport_city-color);
}
.colors-transport_region {
  background-color: var(--colors-transport_region-backgroundColor);
  color: var(--colors-transport_region-color);
}
.colors-transport_boat {
  background-color: var(--colors-transport_boat-backgroundColor);
  color: var(--colors-transport_boat-color);
}
.colors-transport_train {
  background-color: var(--colors-transport_train-backgroundColor);
  color: var(--colors-transport_train-color);
}
.colors-transport_airport {
  background-color: var(--colors-transport_airport-backgroundColor);
  color: var(--colors-transport_airport-color);
}
.colors-transport_plane {
  background-color: var(--colors-transport_plane-backgroundColor);
  color: var(--colors-transport_plane-color);
}
.colors-transport_other {
  background-color: var(--colors-transport_other-backgroundColor);
  color: var(--colors-transport_other-color);
}

.status-valid-main {
  background-color: var(--status-valid-main-backgroundColor);
  color: var(--status-valid-main-color);
}
.status-info-main {
  background-color: var(--status-info-main-backgroundColor);
  color: var(--status-info-main-color);
}
.status-warning-main {
  background-color: var(--status-warning-main-backgroundColor);
  color: var(--status-warning-main-color);
}
.status-error-main {
  background-color: var(--status-error-main-backgroundColor);
  color: var(--status-error-main-color);
}
