# https://github.com/marketplace/actions/release-please-action
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      generate-assets--tag_name: ${{ steps.release.outputs['packages/assets--tag_name'] }}
      generate-assets--release_created: ${{ steps.release.outputs['packages/assets--release_created'] }}
      theme--tag_name: ${{ steps.release.outputs['packages/theme--tag_name'] }}
      theme--release_created: ${{ steps.release.outputs['packages/theme--release_created'] }}
      token--tag_name: ${{ steps.release.outputs['packages/token--tag_name'] }}
      token--release_created: ${{ steps.release.outputs['packages/token--release_created'] }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - name: Print release outputs for debugging
        continue-on-error: true
        run: |
          echo "Release outputs:"
          echo "${{ toJson(steps.release.outputs) }}"

  release-generate-assets:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.generate-assets--release_created }}
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          always-auth: true
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
      - run: yarn workspace @atb-as/generate-assets install --frozen-lockfile
      - run: yarn workspace @atb-as/generate-assets build
      - run: yarn workspace @atb-as/generate-assets publish

  release-theme:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.theme--release_created }}
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          always-auth: true
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
      - run: yarn workspace @atb-as/theme install --frozen-lockfile
      - run: yarn workspace @atb-as/theme build
      - run: yarn workspace @atb-as/theme publish

  release-token:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.token--release_created }}
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          always-auth: true
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
      - run: yarn workspace @atb-as/token publish
