
/* Require included fonts. Fetched from URLs and not locally
   to leverage better CDN caching. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

/* Base Typgraphy Custom Properties */
:root {
  /* Definitions for body__m */
  --baseTypo-body__m-fontSize: 1rem;
  --baseTypo-body__m-lineHeight: 1.25rem;
  --baseTypo-body__m-letterSpacing: 0.00625rem;

  /* Definitions for body__m__strong */
  --baseTypo-body__m__strong-fontSize: 1rem;
  --baseTypo-body__m__strong-lineHeight: 1.25rem;
  --baseTypo-body__m__strong-letterSpacing: 0.00625rem;
  --baseTypo-body__m__strong-fontWeight: 500;

  /* Definitions for body__m__underline */
  --baseTypo-body__m__underline-fontSize: 1rem;
  --baseTypo-body__m__underline-lineHeight: 1.25rem;
  --baseTypo-body__m__underline-letterSpacing: 0.00625rem;
  --baseTypo-body__m__underline-textDecorationLine: underline;

  /* Definitions for body__m__strike */
  --baseTypo-body__m__strike-fontSize: 1rem;
  --baseTypo-body__m__strike-lineHeight: 1.25rem;
  --baseTypo-body__m__strike-letterSpacing: 0.00625rem;
  --baseTypo-body__m__strike-textDecorationLine: line-through;

  /* Definitions for body__s */
  --baseTypo-body__s-fontSize: 0.875rem;
  --baseTypo-body__s-lineHeight: 1.125rem;
  --baseTypo-body__s-letterSpacing: 0.015625rem;

  /* Definitions for body__s__strong */
  --baseTypo-body__s__strong-fontSize: 0.875rem;
  --baseTypo-body__s__strong-lineHeight: 1.125rem;
  --baseTypo-body__s__strong-letterSpacing: 0.015625rem;
  --baseTypo-body__s__strong-fontWeight: 500;

  /* Definitions for body__xs */
  --baseTypo-body__xs-fontSize: 0.75rem;
  --baseTypo-body__xs-lineHeight: 1rem;
  --baseTypo-body__xs-letterSpacing: 0.01875rem;

  /* Definitions for body__xs__strike */
  --baseTypo-body__xs__strike-fontSize: 0.75rem;
  --baseTypo-body__xs__strike-lineHeight: 1rem;
  --baseTypo-body__xs__strike-letterSpacing: 0.01875rem;
  --baseTypo-body__xs__strike-textDecorationLine: line-through;

  /* Definitions for heading__3xl */
  --baseTypo-heading__3xl-fontSize: 2.25rem;
  --baseTypo-heading__3xl-lineHeight: 2.5rem;
  --baseTypo-heading__3xl-letterSpacing: 0.03125rem;
  --baseTypo-heading__3xl-fontWeight: 600;

  /* Definitions for heading__2xl */
  --baseTypo-heading__2xl-fontSize: 2rem;
  --baseTypo-heading__2xl-lineHeight: 2.375rem;
  --baseTypo-heading__2xl-letterSpacing: 0.03125rem;
  --baseTypo-heading__2xl-fontWeight: 600;

  /* Definitions for heading__xl */
  --baseTypo-heading__xl-fontSize: 1.5rem;
  --baseTypo-heading__xl-lineHeight: 1.75rem;
  --baseTypo-heading__xl-letterSpacing: 0.01875rem;
  --baseTypo-heading__xl-fontWeight: 600;

  /* Definitions for heading__l */
  --baseTypo-heading__l-fontSize: 1.25rem;
  --baseTypo-heading__l-lineHeight: 1.5rem;
  --baseTypo-heading__l-letterSpacing: 0.01875rem;
  --baseTypo-heading__l-fontWeight: 600;

  /* Definitions for heading__m */
  --baseTypo-heading__m-fontSize: 1rem;
  --baseTypo-heading__m-lineHeight: 1.25rem;
  --baseTypo-heading__m-letterSpacing: 0.00625rem;
  --baseTypo-heading__m-fontWeight: 600;

  /* Definitions for heading__s */
  --baseTypo-heading__s-fontSize: 0.875rem;
  --baseTypo-heading__s-lineHeight: 1.125rem;
  --baseTypo-heading__s-letterSpacing: 0.015625rem;
  --baseTypo-heading__s-fontWeight: 600;

  /* Definitions for heading__xs */
  --baseTypo-heading__xs-fontSize: 0.75rem;
  --baseTypo-heading__xs-lineHeight: 1rem;
  --baseTypo-heading__xs-letterSpacing: 0.01875rem;
  --baseTypo-heading__xs-fontWeight: 600;


  /* Included font types */
  --font-main: 'Roboto', sans-serif;
}

/* Main setup, base size and main font */
:global(html) {
  font-family: var(--font-main);
  /* Default base size. */
  font-size: 100%;
}

/* Typography definitions */
.typo-body__m {
  font-size: var(--baseTypo-body__m-fontSize, 1rem);
  line-height: var(--baseTypo-body__m-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__m-letterSpacing, 0.00625rem);
}
.typo-body__m__strong {
  font-size: var(--baseTypo-body__m__strong-fontSize, 1rem);
  line-height: var(--baseTypo-body__m__strong-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__m__strong-letterSpacing, 0.00625rem);
  font-weight: var(--baseTypo-body__m__strong-fontWeight, 500);
}
.typo-body__m__underline {
  font-size: var(--baseTypo-body__m__underline-fontSize, 1rem);
  line-height: var(--baseTypo-body__m__underline-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__m__underline-letterSpacing, 0.00625rem);
  text-decoration: var(--baseTypo-body__m__underline-textDecorationLine, underline);
}
.typo-body__m__strike {
  font-size: var(--baseTypo-body__m__strike-fontSize, 1rem);
  line-height: var(--baseTypo-body__m__strike-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__m__strike-letterSpacing, 0.00625rem);
  text-decoration: var(--baseTypo-body__m__strike-textDecorationLine, line-through);
}
.typo-body__s {
  font-size: var(--baseTypo-body__s-fontSize, 0.875rem);
  line-height: var(--baseTypo-body__s-lineHeight, 1.125rem);
  letter-spacing: var(--baseTypo-body__s-letterSpacing, 0.015625rem);
}
.typo-body__s__strong {
  font-size: var(--baseTypo-body__s__strong-fontSize, 0.875rem);
  line-height: var(--baseTypo-body__s__strong-lineHeight, 1.125rem);
  letter-spacing: var(--baseTypo-body__s__strong-letterSpacing, 0.015625rem);
  font-weight: var(--baseTypo-body__s__strong-fontWeight, 500);
}
.typo-body__xs {
  font-size: var(--baseTypo-body__xs-fontSize, 0.75rem);
  line-height: var(--baseTypo-body__xs-lineHeight, 1rem);
  letter-spacing: var(--baseTypo-body__xs-letterSpacing, 0.01875rem);
}
.typo-body__xs__strike {
  font-size: var(--baseTypo-body__xs__strike-fontSize, 0.75rem);
  line-height: var(--baseTypo-body__xs__strike-lineHeight, 1rem);
  letter-spacing: var(--baseTypo-body__xs__strike-letterSpacing, 0.01875rem);
  text-decoration: var(--baseTypo-body__xs__strike-textDecorationLine, line-through);
}
.typo-heading__3xl {
  font-size: var(--baseTypo-heading__3xl-fontSize, 2.25rem);
  line-height: var(--baseTypo-heading__3xl-lineHeight, 2.5rem);
  letter-spacing: var(--baseTypo-heading__3xl-letterSpacing, 0.03125rem);
  font-weight: var(--baseTypo-heading__3xl-fontWeight, 600);
}
.typo-heading__2xl {
  font-size: var(--baseTypo-heading__2xl-fontSize, 2rem);
  line-height: var(--baseTypo-heading__2xl-lineHeight, 2.375rem);
  letter-spacing: var(--baseTypo-heading__2xl-letterSpacing, 0.03125rem);
  font-weight: var(--baseTypo-heading__2xl-fontWeight, 600);
}
.typo-heading__xl {
  font-size: var(--baseTypo-heading__xl-fontSize, 1.5rem);
  line-height: var(--baseTypo-heading__xl-lineHeight, 1.75rem);
  letter-spacing: var(--baseTypo-heading__xl-letterSpacing, 0.01875rem);
  font-weight: var(--baseTypo-heading__xl-fontWeight, 600);
}
.typo-heading__l {
  font-size: var(--baseTypo-heading__l-fontSize, 1.25rem);
  line-height: var(--baseTypo-heading__l-lineHeight, 1.5rem);
  letter-spacing: var(--baseTypo-heading__l-letterSpacing, 0.01875rem);
  font-weight: var(--baseTypo-heading__l-fontWeight, 600);
}
.typo-heading__m {
  font-size: var(--baseTypo-heading__m-fontSize, 1rem);
  line-height: var(--baseTypo-heading__m-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-heading__m-letterSpacing, 0.00625rem);
  font-weight: var(--baseTypo-heading__m-fontWeight, 600);
}
.typo-heading__s {
  font-size: var(--baseTypo-heading__s-fontSize, 0.875rem);
  line-height: var(--baseTypo-heading__s-lineHeight, 1.125rem);
  letter-spacing: var(--baseTypo-heading__s-letterSpacing, 0.015625rem);
  font-weight: var(--baseTypo-heading__s-fontWeight, 600);
}
.typo-heading__xs {
  font-size: var(--baseTypo-heading__xs-fontSize, 0.75rem);
  line-height: var(--baseTypo-heading__xs-lineHeight, 1rem);
  letter-spacing: var(--baseTypo-heading__xs-letterSpacing, 0.01875rem);
  font-weight: var(--baseTypo-heading__xs-fontWeight, 600);
}
